
@font-face {
	font-family: 'ArialNarrow-Bold';
	src: url('ArialNarrow-Bold.eot');
	src: url('ArialNarrow-Bold.eot?#iefix') format('embedded-opentype'),
		url('ArialNarrow-Bold.woff') format('woff'),
		url('ArialNarrow-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ArialNarrow';
	src: url('ArialNarrow.eot');
	src: url('ArialNarrow.eot?#iefix') format('embedded-opentype'),
		url('ArialNarrow.woff') format('woff'),
		url('ArialNarrow.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arial-BoldItalic';
	src: url('Arial-BoldItalic.eot');
	src: url('Arial-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Arial-BoldItalic.woff') format('woff'),
		url('Arial-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'ArialNarrow-BoldItalic';
	src: url('ArialNarrow-BoldItalic.eot');
	src: url('ArialNarrow-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('ArialNarrow-BoldItalic.woff') format('woff'),
		url('ArialNarrow-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Arial';
	src: url('Arial.eot');
	src: url('Arial.eot?#iefix') format('embedded-opentype'),
		url('ArialMT.woff') format('woff'),
		url('ArialMT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arial-Italic';
	src: url('Arial-Italic.eot');
	src: url('Arial-Italic.eot?#iefix') format('embedded-opentype'),
		url('Arial-Italic.woff') format('woff'),
		url('Arial-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'ArialNarrow-Italic';
	src: url('ArialNarrow-Italic.eot');
	src: url('ArialNarrow-Italic.eot?#iefix') format('embedded-opentype'),
		url('ArialNarrow-Italic.woff') format('woff'),
		url('ArialNarrow-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Arial-Bold';
	src: url('Arial-Bold.eot');
	src: url('Arial-Bold.eot?#iefix') format('embedded-opentype'),
		url('Arial-Bold.woff') format('woff'),
		url('Arial-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Arial-Black';
	src: url('Arial-Black.eot');
	src: url('Arial-Black.eot?#iefix') format('embedded-opentype'),
		url('Arial-Black.woff') format('woff'),
		url('Arial-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
