
/*
Theme Name: Camblab
Theme URI: 
Author: Lasantha Attanayake
Author URI: 
Description: 
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Camblab
Tags: 

*/


body {
  font-family: 'Arial';
}
a,
button {
  outline: none;
}
a:facus {
  outline: none;
}
:facus {
  outline: none;
}
:active {
  outline: none;
}
:focus {
  outline: 0;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
input:focus {
  outline: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}
header .cart {
  float: right;
}
header .cart .one {
  float: left;
  margin-top: 16px;
  margin-right: 35px;
}
header .cart .two {
  float: right;
  width: 63px;
  height: 45px;
  background: url(../images/cart-ico.png) no-repeat;
  background-position: bottom left;
}
header .cart .two p.items {
  width: 21px;
  height: 21px;
  text-align: center;
  background-color: #222222;
  margin-bottom: 0;
  color: #fff;
  float: right;
}
header .main-header {
  padding-top: 9px;
}
header .main-header .left-main-header {
  margin-top: 17px;
}
header .main-header .left-main-header p.gogo-down {
  font-size: 14px;
  color: #545454;
  padding-top: 5px;
  padding-left: 15px;
  letter-spacing: 1px;
}
header .main-header .right-header .login-ul {
  background: #000000;
  margin: 0;
  padding: 4px 11px;
  float: right;
}
header .main-header .right-header .login-ul li {
  color: #fff;
}
header .main-header .right-header .login-ul li a {
  font-size: 12px;
  color: #fff;
  margin: 0;
  padding: 0;
}
header .main-header .right-header .select-bx {
  float: right;
  width: 140px;
  position: relative;
  margin-top: 2px;
  margin-right: 22px;
}
header .main-header .right-header .select-bx .btn {
  border: none;
  border-radius: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  background: url(../images/header-icon-5.png) no-repeat center right;
  text-align: right;
  padding-right: 12px;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
}
header .main-header .right-header .select-bx .btn span {
  padding-left: 4px;
}
header .main-header .right-header .select-bx .dropdown-menu {
  width: 100%;
  border-radius: 0;
  text-align: right;
  min-width: 100%;
  padding-right: 11px;
}
header .main-header .right-header .select-bx .dropdown-menu li a {
  padding: 3px 0px;
}
header .main-header .right-header .select-bx .dropdown-menu li a span {
  padding-left: 4px;
}
header .main-header .right-header .search button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-right: 10px;
  vertical-align: bottom;
}
header .main-header .right-header .search input {
  width: 262px;
  border: none;
  border-bottom: solid 1px #5C6F7C;
  background-color: transparent;
  font-size: 13px;
}
header .main-header .right-header .search ::-webkit-input-placeholder {
  color: #5B6E7B;
  font-style: italic;
}
header .main-header .right-header .search ::-moz-placeholder {
  color: #5B6E7B;
  font-style: italic;
}
header .main-header .right-header .search :-ms-input-placeholder {
  color: #5B6E7B;
  font-style: italic;
}
header .main-header .right-header .search :-moz-placeholder {
  color: #5B6E7B;
  font-style: italic;
}
header .main-header .right-header .ser-line {
  margin-top: 18px;
}
header .main-header .right-header .ser-line .l-search {
  float: left;
  margin-top: 26px;
  /*margin-left: 44px;*/
}
header .main-header .right-header .ser-line .r-search {
  display: inline-block;
  margin-top: 20px;
}
header .main-header .right-header .ser-line .r-search .right-r a {
  font-size: 19px;
  color: #5B6E7B;
  padding-left: 38px;
}
header .main-header .right-header .ser-line .r-search .right-r .live {
  padding-left: 44px;
}
header .main-header .right-header .ser-line .r-search .right-r .live span {
  padding-right: 13px;
}
header .main-header .right-header .ser-line .r-search .right-r .call {
  padding-left: 39px;
}
header .main-header .right-header .ser-line .r-search .right-r .call span {
  padding-right: 8px;
}
.main-slider-side .slick-dots {
  bottom: 0%;
  text-align: right;
  width: 100px;
  right: 8%;
}
.main-slider-side .slick-dots li {
  width: 8px;
  height: 20px;
  border: none;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  background-color: #000;
  margin: 0 3px;
}
.main-slider-side .slick-dots li button {
  width: 0;
  height: 0;
}
.main-slider-side .slick-dots li.slick-active {
  background-color: #968900;
  border-left: solid 1px #CAC47F;
  border-right: solid 1px #CAC47F;
}
.main-slider-side .slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  content: initial;
  text-align: center;
  opacity: 1;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section .benifit .benifit-b {
  background-color: #FBFBFB;
  border: solid 1px #AEB7BE;
  margin-top: 21px;
  width: 100%;
  padding: 11px 5px;
  text-align: center;
}
section .benifit .benifit-b a {
  color: #5C6F7C;
  font-size: 18px;
  font-family: 'Arial-Bold';
  font-weight: bold;
  letter-spacing: 1px;
}
section .benifit .benifit-b span {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.left-in-items {
  padding: 20px;
}
.left-in-items .color-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.left-in-items .color-items li {
  margin-bottom: 10px;
}
.left-in-items .color-items li a {
  color: #fff;
  font-size: 16px;
  color: #EDEDED;
  background: #425968 url(../images/dubble-arow.png) no-repeat 95% center;
  display: block;
  transition: all 0.5s ease;
  padding: 11px 12px 11px 40px;
}
.left-in-items .color-items li a span {
  font-size: 12px;
  display: block;
}
.left-in-items .color-items li a:hover {
  background: #968900 url(../images/dubble-arow.png) no-repeat 95% center;
}
.padding-no {
  padding: 0;
}
.pd-line {
  float: left;
  width: 100%;
  background-color: #F8F8FA;
  margin-top: 20px;
}
section .eco {
  position: relative;
  margin-top: 45px;
}
section .eco .eco-absolute {
  position: absolute;
  bottom: 51px;
  text-align: center;
  width: 100%;
}
section .eco .eco-absolute p.eco-f {
  font-size: 27px;
  color: #415967;
  font-weight: bold;
  letter-spacing: -1px;
  padding-left: 9px;
  margin-bottom: 1px;
}
section .eco .eco-absolute p.peras {
  font-size: 14px;
  color: #5B6E7B;
  margin-bottom: 18px;
}
section .eco .eco-absolute a.shop-now {
  font-size: 12px;
  color: #212121;
  border: solid 1px #222222;
  padding: 7px 15px;
}
.cal-b-right {
  position: relative;
  margin-top: 45px;
}
.cal-b-right .absolute-2 {
  position: absolute;
  right: 18%;
  top: 30%;
}
.cal-b-right .absolute-2 .calibrion {
  font-size: 21px;
  color: #415967;
  font-weight: bold;
  margin-bottom: 0;
}
.cal-b-right .absolute-2 .calibrion-pera {
  font-size: 14px;
  color: #5B6E7B;
  margin-bottom: 17px;
}
.cal-b-right .absolute-2 a {
  color: #212121;
  font-size: 13px;
  border: solid 1px #222222;
  padding: 8px 11px;
  margin-left: 4px;
}
.invation {
  position: relative;
  margin-top: 21px;
}
.invation .absolute-3 {
  position: absolute;
  top: 33%;
  left: 5%;
}
.invation .absolute-3 .innovate {
  font-size: 21px;
  color: #EDEDED;
  font-weight: bold;
  margin-bottom: 0;
}
.invation .absolute-3 .tncreat {
  font-size: 14px;
  color: #EDEDED;
  margin-bottom: 18px;
}
.invation .absolute-3 a {
  color: #EDEDED;
  font-size: 12px;
  border: solid 1px #EDEDED;
  padding: 8px 16px;
}
section .terra {
  background: url(../images/thin-line.png);
  height: 148px;
  margin-top: 25px;
}
section .terra .terreta {
  float: left;
  padding-top: 49px;
  padding-left: 90px;
}
section .terra .list-in {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  padding-left: 128px;
  padding-top: 44px;
}
section .terra .list-in li {
  background: url(../images/smaill-icon.png) no-repeat left center;
  padding-left: 30px;
  margin-bottom: 3px;
}
section .terra .list-in li a {
  font-size: 15px;
  color: #415967;
}
.catery-images {
  padding: 0 64px;
}
.catery-images .slick-prev {
  left: 0px;
  background: url(../images/left-aro-product.png);
  width: 20px;
  height: 58px;
}
.catery-images .slick-next {
  right: 0px;
  background: url(../images/right-arow-poroduct.png);
  width: 20px;
  height: 58px;
}
.catery-images .slick-prev:before,
.catery-images .slick-next:before {
  opacity: 1;
  color: transparent;
}
.catery-images .paddind-dv {
  text-align: center;
  border: solid 1px #AEB7BE;
  display: inline-block;
  width: 100%;
  padding-bottom: 9px;
  cursor: pointer;
}
.catery-images .paddind-dv .img-product img {
  width: 100%;
}
.catery-images .paddind-dv .name {
  font-size: 14px;
  color: #415967;
  margin-bottom: 0;
  margin-top: 12px;
  margin-bottom: 2px;
  line-height: 1.2;
}
.catery-images .paddind-dv .parice {
  font-size: 18px;
  color: #26333B;
  margin-bottom: 0;
  border-bottom: solid 1px #ddd;
  display: inline-block;
  padding: 0 4px;
}
.catery-images .paddind-dv .ex-change {
  font-size: 13px;
  margin-top: 4px;
  color: #968800;
}
.catery-images .paddind-dv .btns {
  float: right;
  padding-right: 5px;
}
.catery-images .paddind-dv .btns .signal span {
  transition: all 0.5s ease-out;
  background: url(../images/signal.png) no-repeat;
  background-position: top;
  width: 24px;
  display: inline-block;
  height: 13px;
}
.catery-images .paddind-dv .btns .heart span {
  transition: all 0.5s ease-out;
  background: url(../images/heart-icon.png) no-repeat;
  width: 20px;
  height: 16px;
  background-position: top;
  display: inline-block;
  padding-right: 12px;
}
.hover-view {
  float: left;
  padding-left: 5px;
}
.hover-view a {
  font-size: 11px;
  background-color: transparent;
  padding: 8px 10px;
  color: #fff;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}
.hover-view2 {
  float: left;
  padding-left: 5px;
  margin-top: -6px;
}
.hover-view2 a {
  background: url(../images/img-chek-all-product.png);
  background-position: top;
  width: 25px;
  height: 25px;
  display: block;
  transition: all 0.5s ease;
}
.paddind-dv:hover,
.paddind-dv:active,
.paddind-dv:focus {
  border: solid 1px #968901;
}
.paddind-dv:hover .hover-view,
.paddind-dv:active .hover-view,
.paddind-dv:focus .hover-view {
  float: left;
  padding-left: 5px;
  display: block;
}
.paddind-dv:hover .hover-view a,
.paddind-dv:active .hover-view a,
.paddind-dv:focus .hover-view a {
  font-size: 11px;
  background-color: #968900;
  padding: 8px 10px;
  color: #fff;
  letter-spacing: 0.5px;
}
.paddind-dv:hover .btns .signal span,
.paddind-dv:active .btns .signal span,
.paddind-dv:focus .btns .signal span {
  background-position: bottom;
}
.paddind-dv:hover .btns .heart span,
.paddind-dv:active .btns .heart span,
.paddind-dv:focus .btns .heart span {
  background-position: bottom;
}
.paddind-dv:hover .hover-view2 a,
.paddind-dv:active .hover-view2 a,
.paddind-dv:focus .hover-view2 a {
  background: url(../images/img-chek-all-product.png);
  background-position: bottom;
  width: 25px;
  height: 25px;
  display: block;
}
.margind {
  padding: 15px;
}
.feued .featured {
  font-size: 24px;
  color: #425968;
  font-weight: bold;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 26px;
}
.home-down {
  text-align: center;
  margin-top: 60px;
  padding: 0 81px;
  margin-bottom: 76px;
}
.home-down .slick-slide img {
  display: inherit;
}
.home-down .slick-prev {
  left: 0px;
  background: url(../images/aow-last-left.png);
  height: 38px;
  width: 15px;
}
.home-down .slick-next {
  right: 0px;
  background: url(../images/aro-last-slider-right.png);
  height: 38px;
  width: 15px;
}
.home-down .slick-prev:before,
.home-down .slick-next:before {
  opacity: 1;
  color: transparent;
}
footer .footer-tip-top {
  background-color: #425968;
  padding: 12px;
}
footer .footer-tip-top .sub-scrip {
  text-align: center;
  margin: auto;
}
footer .footer-tip-top .sub-scrip .hd-sub {
  font-size: 16px;
  color: #ECECEC;
  font-weight: bold;
  margin-bottom: 0;
  text-align: right;
  margin-top: 8px;
}
footer .footer-tip-top .sub-scrip .input-sub {
  width: 100%;
  position: relative;
}
footer .footer-tip-top .sub-scrip .input-sub button {
  position: absolute;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  right: 15px;
  top: 7px;
}
footer .footer-tip-top .sub-scrip .input-sub input {
  border: solid 1px #EEEEEE;
  background-color: transparent;
  padding: 5px;
  width: 100%;
  height: 35px;
}
.footer-link-section {
  background-color: #26333C;
}
.footer-link-section .links {
  margin-top: 33px;
}
.footer-link-section .links .hd {
  font-size: 16px;
  color: #ECECEC;
}
.footer-link-section .links-footer-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-link-section .links-footer-ul li a {
  font-size: 16px;
  color: #DDDDDD;
}
.footer-link-section .footer-r-last .camb {
  margin-top: 36px;
}
.footer-link-section .footer-r-last .contct {
  font-size: 16px;
  color: #DDDDDD;
  margin-top: 14px;
  margin-bottom: -2px;
}
.footer-link-section .footer-r-last .tp {
  font-size: 16px;
  color: #DDDDDD;
  margin-bottom: 0;
}
.footer-link-section .footer-r-last .emal {
  font-size: 16px;
  color: #DDDDDD;
  margin-bottom: 0;
}
.footer-link-section .footer-shoshal {
  margin-top: 41px;
  text-align: center;
  padding-bottom: 36px;
}
.footer-link-section .footer-shoshal ul {
  margin: 0;
  padding: 0;
}
.footer-link-section .one-fh {
  margin-top: 15px;
}
.center-footer {
  background-color: #EAF0F2;
  padding-top: 15px;
  padding-bottom: 14px;
}
.center-footer .logo-snter3 {
  text-align: center;
}
.center-footer .logo-snter2 {
  margin-left: 8px;
}
.center-footer .right-shoshal-last ul {
  text-align: right;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
.center-footer .right-shoshal-last ul li {
  padding: 0;
  padding-left: 7px;
}
.all-last {
  background-color: #26333C;
  padding: 22px 0;
}
.all-last .development {
  text-align: right;
  font-size: 15px;
  color: #ECECEC;
}
.all-last .coppy {
  text-align: right;
  font-size: 15px;
  color: #ECECEC;
}

.positions {
  position: absolute;
  top: 5%;
  bottom: 0;
}
.pd-line {
  position: relative;
}
.mobile-top-slider .slick-slide img {
  display: inherit;
}
.img-eco img {
  width: 100%;
}


/*===================================blog-page=====================================*/
.main-bnner-blog img {
  width: 100%;
}
.blog-one {
  border: solid 1px #CCCCCC;
  margin-top: 40px;
}
.blog-one .blog-deails {
  padding-top: 40px;
  padding-left: 25px;
}
.blog-one .blog-deails p.we-lives {
  font-size: 28px;
  color: #405966;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0;
}
.blog-one .blog-deails p.second-hd {
  font-size: 16px;
  color: #333333;
  margin-top: 8px;
}
.blog-one .blog-deails p.second-hd span {
  color: #666666;
  font-style: italic;
}
.blog-one .blog-deails p.it-has {
  font-size: 14px;
  color: #666666;
  line-height: 1.5;
}
.blog-one .blog-deails a.re-mores {
  background-color: #425968;
  font-size: 18px;
  color: #EBEBEB;
  display: inline-block;
  text-align: center;
  padding: 9px 35px;
  margin-top: 25px;
}
.right-banner img {
  float: right;
}
.blogs-main-r-items {
  margin-top: 40px;
  margin-left: 30px;
}
.blogs-main-r-items .list-pest {
  margin: 0;
  padding: 0;
  list-style: none;
}
.blogs-main-r-items .list-pest li {
  font-size: 17px;
  color: #777777;
  margin-bottom: 13px;
}
.blogs-main-r-items .list-pest li a {
  font-size: 17px;
  color: #777777;
}
.blogs-main-r-items .list-pest li span {
  width: 18px;
  height: 18px;
  background-color: #222222;
  text-align: center;
  font-size: 12px;
  color: #fff;
  float: right;
  padding-top: 2px;
}
.posui {
  position: absolute;
  bottom: 0;
  right: 0;
}
.last-no-row {
  position: relative;
}
.lastg {
  margin-top: 40px;
  margin-bottom: 70px;
}
/*2017-12-04*/
.banner-text h1
{
    font-size: 32px;
    color: #405966;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 5px;
    margin-left: 8px;
    text-transform: capitalize;
}
.top-para p
{
  text-align: justify;
  font-size: 14px;
  color: #666666;
  line-height: 1.5;
}
section .all-pagel-list .list-all-ul li:last-child {
    color: #968800;
    background: url(../images/line-listlist-last.png) no-repeat right center;
    text-transform: capitalize;
}
/*===================================blog-page=====================================*/
/*===================================mega-menu=====================================*/
section > .main-menu {
  background-color: #425968;
  margin-top: 8px;
}
section > .main-menu .menu-list > ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
section > .main-menu .menu-list > ul > li {
  width: 153px;
  text-align: center;
  border-right: solid 1px #fff;
  height: 44px;
  margin: 0;
  padding: 0;
  position: static;
}
section > .main-menu .menu-list > ul > li:first-child {
  width: 93px;
}
section > .main-menu .menu-list > ul > li > a {
  color: #fff;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: inline-block;
  line-height: 2;
  padding-top: 5px;
}
section > .main-menu .menu-list > ul > li > a > span {
  vertical-align: middle;
}
section > .main-menu .menu-list > ul > li:first-child > a > img {
  vertical-align: sub;
}
.m-menu-ul .dropdown-menu > li > a {
  display: block;
}
.m-menu-ul .dropdown-submenu {
  position: relative;
}
.m-menu-ul .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0px;
  height: 100%;
  box-shadow: none;
  border: none;
  border-right: solid 1px #BBBBBB;
  background-color: transparent;
}
.m-menu-ul .dropdown-menu > li > a:hover,
.m-menu-ul .dropdown-menu > .active > a:hover {
  text-decoration: none;
}
ul.m-menu-ul li:hover > ul.dropdown-menu {
  display: block;
}
ul.m-menu-ul li:hover .main-bacro-menu {
  display: block;
}
ul.third-level li:hover .last-level {
  display: block;
}
#navbar {
  text-align: center;
}
.m-menu-ul .main-bacro-menu {
  width: 100%;
  border-radius: 0;
  min-width: 100%;
  margin: 0;
  padding: 20px 0px;
  margin-top: -1px;
  border: solid 1px #BBBBBB;
  box-shadow: none;
}
.m-menu-ul .first-level {
  width: 25%;
  border-radius: 0;
  min-width: 25%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: solid 1px #BBBBBB;
  position: relative;
  height: 100%;
}
.m-menu-ul .first-level > li {
  position: static;
  padding: 0 12px;
}
.m-menu-ul .first-level > li > a {
  color: #2C1D21;
  font-size: 13px;
  padding: 3px 8px;
  display: block;
}
.m-menu-ul .first-level > li > a:hover {
  color: #fff;
  background-color: #777777;
}
.m-menu-ul .second-level {
  width: 100%;
  border-radius: 0;
  min-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: solid 1px #BBBBBB;
  top: 0;
  right: 0;
  height: 100%;
}
.m-menu-ul .second-level > li {
  position: static;
  padding: 0 12px;
}
.m-menu-ul .second-level > li > a {
  color: #2C1D21;
  font-size: 13px;
  padding: 3px 8px;
  display: block;
}
.m-menu-ul .second-level > li > a:hover {
  color: #fff;
  background-color: #999999;
}
.m-menu-ul .third-level {
  width: 100%;
  border-radius: 0;
  min-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: solid 1px #BBBBBB;
  top: 0;
  right: 0;
  height: 100%;
}
.m-menu-ul .third-level > li {
  position: static;
  padding: 0 12px;
}
.m-menu-ul .third-level > li > a {
  color: #2C1D21;
  font-size: 13px;
  padding: 3px 8px;
  display: block;
}
.m-menu-ul .third-level > li > a:hover {
  color: #fff;
  background-color: #BBBBBB;
}
.m-menu-ul .dropdown-submenu > .dropdown-menu.last-level {
  border: none;
  text-align: center;
}
.m-menu-ul .dropdown-submenu > .dropdown-menu.last-level .text img {
  display: initial;
  margin-bottom: 12px;
}
.m-menu-ul .dropdown-submenu > .dropdown-menu .last-level {
  width: 100%;
  border-radius: 0;
  min-width: 100%;
  margin: 0;
  height: 100%;
  padding: 15px;
  padding-right: 0;
  list-style: none;
  text-align: center;
  top: 0;
  right: 0;
  border: none;
  border-right: none;
}
.m-menu-ul .dropdown-submenu > .dropdown-menu .last-level .left-names {
  float: left;
  width: 100%;
}
.m-menu-ul .dropdown-submenu > .dropdown-menu .last-level .power-name {
  font-size: 14px;
  color: #2C1D21;
  margin-bottom: 0;
  font-weight: 600;
  float: left;
  text-align: left;
}
.m-menu-ul .dropdown-submenu > .dropdown-menu .last-level .main-price {
  font-size: 30px;
  color: #333333;
  float: right;
  margin-bottom: 0;
  text-align: right;
  font-weight: normal;
}
.m-menu-ul .dropdown-submenu > .dropdown-menu .last-level .etxt {
  font-size: 12px;
  color: #525252;
  text-align: left;
  float: left;
  width: 100%;
  margin-top: 7px;
  padding-right: 12px;
}
.m-menu-ul .main-bacro-menu {
  height: 353px;
  background: url(../images/bacro-e.png);
}
/*===================================emega-menu=====================================*/
/*

 * Off Canvas

 * --------------------------------------------------

 */
.offcanvas-wrapper {
  overflow-x: hidden;
  position: relative;
}
@media (max-width: 767px) {
  /* These styles will only display on viewports smaller than or equal to 770px */
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .sidebar-offcanvas {
    width: 90% !important;
    margin: 0;
    padding: 0px 0;
  }
  .sidebar-offcanvas a:after {
    content: "" !important;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-left .offcanvas-left {
    left: -90%;
  }
  .row-offcanvas-left.active {
    left: 90%;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-right .offcanvas-right {
    right: -90%;
  }
  .row-offcanvas-right.active {
    right: 90%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 90%;
  }
}
.main-menu.sidebar-offcanvas {
  border-right: solid 1px #BBBBBB;
  height: 100%;
}
.main-menu.sidebar-offcanvas .header {
  display: inline-block;
  width: 100%;
  background-color: #F7F7F7;
  padding: 4px 15px;
}
.main-menu.sidebar-offcanvas .header .left-name {
  font-size: 18px;
  color: #212121;
  font-weight: bold;
  float: left;
  margin-bottom: 0;
  line-height: 1;
  margin-top: 5px;
}
.main-menu.sidebar-offcanvas .header .accout-btn {
  background-color: #425968;
  width: 88px;
  height: 30px;
  text-align: center;
  border: none;
  color: #fff;
  font-size: 14px;
  float: right;
}
.main-menu.sidebar-offcanvas .home-items {
  padding: 15px 15px;
}
.main-menu.sidebar-offcanvas .panel {
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: no-repeat;
  box-shadow: none;
}
.main-menu.sidebar-offcanvas .panel .mb-lavel-1 {
  font-size: 16px;
  color: #fff;
  background-color: #425968;
  padding: 12px 8px;
  border-bottom: solid 0.5px #fff;
  display: block;
}
.main-menu.sidebar-offcanvas .panel .mb-lavel-2 {
  font-size: 15px;
  color: #fff;
  background-color: #777777;
  padding: 12px 8px;
  border-bottom: solid 0.5px #fff;
  display: block;
}
.main-menu.sidebar-offcanvas .panel .mb-lavel-3 {
  font-size: 15px;
  color: #fff;
  background-color: #999999;
  padding: 12px 8px;
  border-bottom: solid 0.5px #fff;
  display: block;
}
.main-menu.sidebar-offcanvas .panel .mb-lavel-4 {
  font-size: 15px;
  color: #fff;
  background-color: #BBBBBB;
  padding: 12px 8px;
  border-bottom: solid 0.5px #fff;
  display: block;
}
.main-menu.sidebar-offcanvas .panel-body {
  padding: 0;
}
.main-menu.sidebar-offcanvas .panel .mb-lavel-1 span {
  width: 16px;
  height: 8px;
  background: url(../images/aco-1.png) no-repeat;
  background-position: top;
  display: inline-block;
  float: right;
  margin-top: 7px;
}
.main-menu.sidebar-offcanvas .panel .mb-lavel-1.collapsed span {
  width: 16px;
  height: 8px;
  background: url(../images/aco-1.png) no-repeat;
  background-position: bottom;
  display: inline-block;
  float: right;
  margin-top: 7px;
}
.main-menu.sidebar-offcanvas .panel .mb-lavel-2 span {
  width: 16px;
  height: 8px;
  background: url(../images/mobile-acodin.png) no-repeat;
  background-position: top;
  display: inline-block;
  float: right;
  margin-top: 7px;
}
.main-menu.sidebar-offcanvas .panel .mb-lavel-2.collapsed span {
  width: 16px;
  height: 8px;
  background: url(../images/mobile-acodin.png) no-repeat;
  background-position: bottom;
  display: inline-block;
  float: right;
  margin-top: 7px;
}
.main-menu.sidebar-offcanvas .panel .mb-lavel-3 span {
  width: 16px;
  height: 8px;
  background: url(../images/mobile-acodin.png) no-repeat;
  background-position: top;
  display: inline-block;
  float: right;
  margin-top: 7px;
}
.main-menu.sidebar-offcanvas .panel .mb-lavel-3.collapsed span {
  width: 16px;
  height: 8px;
  background: url(../images/mobile-acodin.png) no-repeat;
  background-position: bottom;
  display: inline-block;
  float: right;
  margin-top: 7px;
}
.hamberger span {
  width: 25px;
  height: 20px;
  display: inline-block;
  background: url(../images/badnms.png) no-repeat;
  background-position: bottom;
}
.hamberger span.crose {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-position: top;
}
/*===================================mini-cart=====================================*/
.mini-cart {
  display: none;
}
.mini-cart.minions {
  display: block;
}
.min-cart-bacro {
  position: fixed;
  background: url(../images/mini-b.png);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
.positionss {
  position: relative;
}
.mini-box {
  width: 380px;
  text-align: center;
  padding: 15px;
  border: solid 1px #ccc;
  margin-top: -73px;
  float: right;
  background-color: #fff;
  position: absolute;
  right: 0;
  z-index: 99;
}
.mini-box .cuntinu {
  width: 100%;
  height: 50px;
  background-color: #425968;
  border: none;
  font-size: 18px;
  color: #EBEBEB;
}
.mini-box .sucses-items {
  background-color: #00A600;
  border-left: solid 16px #005E00;
  color: #ECECEC;
  position: relative;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 20px;
}
.mini-box .sucses-items .sus-p {
  font-size: 20px;
  margin-bottom: 0;
  text-align: left;
}
.mini-box .sucses-items .items-are {
  font-size: 18px;
  margin-bottom: 0;
  text-align: left;
}
.mini-box .sucses-items button.close-breen {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 7px;
  right: 7px;
}
.mini-box .items-mini {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 20px;
}
.mini-box .items-mini .left-product {
  float: left;
  margin-right: 12px;
}
.mini-box .items-mini .felt {
  text-align: left;
  display: block;
}
.mini-box .items-mini .felt .name {
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}
.mini-box .items-mini .felt .pricess {
  font-size: 16px;
  color: #333333;
  margin-bottom: 0;
}
.mini-box .items-mini .felt .pricess span {
  font-size: 13px;
  color: #968900;
  margin-left: 8px;
}
.mini-box .items-mini .basket-b {
  position: absolute;
  right: 0;
  top: 30%;
}
.mini-box .sub-totl {
  font-size: 16px;
  color: #333333;
  border-top: solid 1px #BBBBBB;
  border-bottom: solid 1px #BBBBBB;
  padding: 10px 0;
  text-align: left;
}
.mini-box .sub-totl span {
  float: right;
}
.mini-box button.view-basket {
  width: 100%;
  font-size: 18px;
  color: #EBEBEB;
  height: 50px;
  border: none;
  background-color: #555555;
  margin-top: 15px;
  margin-bottom: 10px;
}
.mini-box .check {
  width: 100%;
  font-size: 18px;
  color: #EBEBEB;
  height: 50px;
  border: none;
  background-color: #333333;
}
.mini-box .mii-last {
  margin-top: 35px;
  margin-bottom: 10px;
}
/*===================================mini-cart=====================================*/
/*===================================pdf=====================================*/
.product-pdf {
  padding: 18px 35px;
}
.product-pdf .pdf-logo {
  text-align: center;
  border-bottom: solid 1px;
  padding-bottom: 12px;
}
.product-pdf .left-img {
  float: left;
  padding-right: 16px;
}
.product-pdf p.fets {
  font-size: 14px;
  color: #415967;
  margin-bottom: 3px;
}
.product-pdf p.plts {
  font-size: 10px;
  color: #777777;
}
.product-pdf .detail-img {
  width: 77%;
  padding-top: 4px;
}
.product-pdf .phils {
  position: absolute;
  right: 10px;
  top: 0;
}
.product-pdf .items-ons {
  position: relative;
  padding: 15px 0;
}
.product-pdf .fet {
  border-top: solid 1px #DDDDDD;
  border-bottom: solid 1px #DDDDDD;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: -1px;
}
.product-pdf .fet .left-img-ons {
  float: left;
  padding-right: 15px;
}
.product-pdf .fet p.names {
  font-size: 11px;
  color: #3F5966;
  margin-bottom: 2px;
}
.product-pdf p.clos {
  font-size: 10px;
  color: #777777;
  margin-bottom: 0.5px;
}
.product-pdf p.clos span {
  width: 70px;
  display: inline-block;
}
.product-pdf .elecro {
  display: inline-block;
}
.product-pdf .wct-vts {
  display: inline-block;
  float: right;
  margin-top: 19px;
}
.product-pdf .wct-vts p.right-inc {
  font-size: 12px;
  color: #405966;
  margin-bottom: 0;
  text-align: right;
}
.product-pdf .wct-vts p.right-inc span {
  font-size: 10px;
  color: #968800;
  padding-right: 10px;
}
.product-pdf .products-de {
  margin-top: 23px;
}
.product-pdf .products-de .p-detls {
  font-size: 12px;
  color: #405966;
  margin-bottom: 5px;
}
.product-pdf .products-de p.crems {
  font-size: 11px;
  color: #777777;
  margin-bottom: 16px;
}
.product-pdf .cotsn {
  position: relative;
  margin-top: 50px;
}
.product-pdf .cotsn .conts {
  margin-bottom: 0;
  font-size: 11px;
  color: #777777;
}
.product-pdf .comb-losj {
  position: absolute;
  right: 0;
  bottom: 0;
}
.pdf-page {
  width: 595px;
  border: solid 1px #000;
  margin: auto;
  margin-top: 50px;
}
.last-bps {
  padding: 8px 35px;
  background-color: #425968;
}
.last-bps p.backs {
  margin-bottom: 0px;
  line-height: 1;
}
.last-bps p.backs a {
  font-size: 10px;
  color: #ECECEC;
  font-weight: bold;
}
.last-bps p.backs2 {
  margin-bottom: 0;
}
.last-bps p.backs2 a {
  font-size: 10px;
  color: #ECECEC;
  font-weight: bold;
  text-decoration: underline;
}
/*===================================pdf=====================================*/
/*--new feedback--*/
button.plane-btn {
  font-size: 22px;
  background-color: #20252f;
  border: none;
  color: #fff;
  padding: 8px 39px;
  margin-top: 44px;
}
header .main-header .right-header .ser-line .l-search {
  float: left;
  margin-top: 26px;
  /* margin-left: 44px; */
}
header .cart .one {
  margin-right: 35px;
}
.m-menu-ul .main-bacro-menu {
  margin-top: 0px;
}
.main-slider-side .slick-dots li {
  margin: 0 4.5px;
}
.main-slider-side .slick-dots {
  bottom: -3%;
}
.main-slider-side .banner-detail .del {
  bottom: 7px;
}
.main-slider-side .banner-detail {
  position: relative;
  padding-bottom: 44px;
}
.main-slider-side .slick-prev {
  bottom: -3%;
}
.main-slider-side .slick-next {
  bottom: -3%;
}
.main-slider-side .banner-detail .del {
  left: 10%;
}
/*--new feedback--*/
@media screen and (max-width: 1200px) {
  section > .main-menu .menu-list > ul > li {
    width: 120px;
  }
  section > .main-menu .menu-list > ul > li > a {
    padding-top: 5px;
  }
  section .main-menu .menu-list ul li a span {
    vertical-align: inherit;
  }
  header .main-header .right-header .ser-line .l-search {
    margin-left: 0;
    margin-top: 17px;
  }
  header .main-header .right-header .ser-line .r-search .right-r .live {
    padding-left: 5px;
  }
  header .main-header .right-header .ser-line .r-search .right-r .call {
    padding-left: 5px;
  }
  header .main-header .right-header .ser-line .r-search .right-r a {
    font-size: 16px;
  }
  section > .main-menu > .menu-list > ul > li > a {
    font-size: 18px;
  }
  .left-in-items .color-items li a {
    font-size: 15px;
    padding: 10px;
  }
  .left-in-items .color-items li a span {
    font-size: 12px;
  }
  .positions {
    position: inherit;
  }
  .nodis {
    display: none;
  }
  .left-in-items .color-items li:last-child {
    margin-bottom: 0px;
  }
  .main-slider-side .slick-prev {
    left: 5px;
  }
  .main-slider-side .slick-next {
    right: 5px;
  }
  .main-slider-side .banner-detail .del {
    bottom: 30px;
  }
  .invation {
    margin-top: 15px;
  }
  footer .footer-tip-top .sub-scrip .input-sub {
    width: 50%;
  }
  .list-product-space {
    padding: 16px 0;
  }
  .list-m-product {
    padding: 0;
  }
  .padij {
    padding-right: 10px;
  }
  .r-psdnig {
    padding-left: 10px;
  }
  .alumini-flm .bgs {
    font-size: 13px;
    padding: 6px 9px;
  }
  .detail-main-detail .vat ul li {
    padding-right: 9px;
  }
  .detail-main-detail .bye-btn {
    margin-left: 0;
  }
  .detail-main-detail .vat ul li .second-vat {
    font-size: 23px;
  }
  .detail-main-detail .vat ul li .vet-in-price {
    font-size: 23px;
  }
  .detail-main-detail .qty-sec .qty-p {
    font-size: 14px;
    margin-top: 20px;
    margin-right: 3px;
  }
  .detail-main-detail .select-sed label {
    font-size: 14px;
  }
  .basket-main-right-div button.proses-che {
    font-size: 16px;
  }
  .left-basket-table .price-ins span {
    font-size: 11px;
  }
  .left-basket-table .price-ins {
    font-size: 13px;
  }
  .left-basket-table .name-product .name-main {
    font-size: 12px;
  }
  .listpays li {
    width: 47%;
  }
  .listpays li a img {
    display: inherit;
  }
  .basket-second-rightd {
    text-align: center;
  }
  .basket-second-rightd img {
    display: inline;
  }
  .blog-one .blog-deails {
    padding-top: 15px;
    padding-left: 15px;
  }
  .blog-one .blog-deails p.we-lives {
    font-size: 22px;
    line-height: 1.2;
  }
  .y-local .selectas .select-style {
    width: 230px;
  }
  .y-local .enter-pster input {
    width: 230px;
  }
  .rs-table .table > thead > tr > th {
    font-size: 14px;
  }
  .items-sm-bs .img {
    margin-right: 6px;
  }
  .sign-up-out {
    background-color: #658194;
    padding: 16px 15px;
    padding-top: 26px;
    margin-top: 25px;
  }
  .sign-up-out label {
    font-size: 14px;
  }
  .detail-main-detail ul.bajs li {
    float: right;
    padding: 15px 7px;
    padding-right: 0;
  }
  .detail-main-detail .qty-sec .qty-p2 {
    width: 124px;
  }
  .detail-main-detail .qty-sec .qty-p {
    width: 122px;
  }
  header .cart .two p.items {
    width: 15px;
    height: 17px;
    font-size: 12px;
  }
  header .cart .two {
    width: 41px;
  }
  .sign-up-out label {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .main-items-list .radioos label .fixd-rate {
    left: 44%;
  }
  .m-menu-ul .dropdown-submenu > .dropdown-menu .last-level .power-name {
    font-size: 11px;
  }
  .m-menu-ul .dropdown-submenu > .dropdown-menu .last-level .main-price {
    font-size: 20px;
  }
  header .cart .one {
    margin-right: 13px;
    /*--new feedback--*/
  }
}
@media screen and (max-width: 991px) {
  section > .main-menu .menu-list > ul > li {
    width: 99px;
  }
  section > .main-menu .menu-list > ul > li > a {
    padding-top: 5px;
  }
  section > .main-menu > .menu-list > ul > li > a {
    font-size: 16px;
  }
  header .main-header .right-header .search input {
    width: 150px;
  }
  header .main-header .right-header .search button {
    margin-right: 0px;
  }
  header .main-header .left-main-header p.gogo-down {
    font-size: 15px;
    text-align: center;
    padding-left: 0;
  }
  header .main-header .right-header .ser-line .r-search .right-r a {
    font-size: 14px;
  }
  header .cart .two {
    width: 45px;
    height: 44px;
    background-size: 70%;
  }
  header .cart .one {
    margin-top: 20px;
    width: 23px;
  }
  section .benifit .benifit-b a {
    font-size: 13px;
  }
  .main-slider-side .banner-detail .del {
    bottom: 0;
    margin-bottom: 9px;
  }
  .main-slider-side .slick-prev {
    bottom: 0;
  }
  .main-slider-side .slick-next {
    bottom: 0;
  }
  .left-in-items .color-items li a span {
    font-size: 11px;
  }
  section .eco .eco-absolute p.peras {
    font-size: 12px;
  }
  section .eco .eco-absolute p.eco-f {
    font-size: 20px;
  }
  section .eco .eco-absolute {
    bottom: 17px;
  }
  .cal-b-right .absolute-2 {
    right: 6%;
    top: 19%;
  }
  .invation .absolute-3 {
    top: 20%;
    left: 4%;
  }
  .invation {
    margin-top: 10px;
  }
  section .terra {
    background-position: 30%;
  }
  footer .footer-tip-top .sub-scrip .input-sub {
    width: 65%;
  }
  .footer-link-section .footer-r-last .tp {
    font-size: 13px;
  }
  .footer-link-section .footer-r-last .emal {
    font-size: 12px;
  }
  .center-footer .right-shoshal-last ul li {
    padding-left: 3px;
  }
  .shop-by-size .list-size li .sizes-div {
    width: 58px;
  }
  .shop-by-size .list-size li {
    width: 79px;
  }
  .left-nems {
    padding-right: 0;
  }
  section .now-sshoping {
    padding: 18px 8px;
  }
  section .now-sshoping p.hd {
    font-size: 16px;
  }
  section .now-sshoping .lb-for-machin p.pera {
    font-size: 14px;
  }
  .main-items-list .radioos label {
    font-size: 14px;
  }
  .hover-view a {
    padding: 8px 2px;
  }
  .paddind-dv:hover .hover-view a {
    padding: 8px 2px;
  }
  .pera-left {
    margin-top: 40px;
  }
  .right-lab-con .pera-left .big-list-pera {
    margin-bottom: 6px;
  }
  .detail-main-detail .right-pilips {
    float: right;
  }
  .detail-tabs .nav > li > a {
    padding: 7px 11px;
  }
  .detail-sliders {
    margin-bottom: 45px;
  }
  .detail-main-detail {
    padding-left: 0;
  }
  .big-mobile-items img {
    width: 100%;
  }
  .basket-main-right-div {
    margin-top: 22px;
  }
  .delivry-notis {
    margin-bottom: 45px;
  }
  .blogs-main-r-items {
    margin-left: 0;
  }
  .blog-one .blog-deails p.we-lives {
    font-size: 14px;
    line-height: 1;
  }
  .blog-one .blog-deails p.second-hd {
    font-size: 13px;
    margin-top: 5px;
  }
  .blog-one .blog-deails p.it-has {
    font-size: 13px;
    line-height: 1.2;
  }
  .blog-one .blog-deails a.re-mores {
    font-size: 14px;
    padding: 3px 25px;
    margin-top: 1px;
  }
  .y-local .enter-pster input {
    width: 140px;
  }
  .y-local {
    padding: 16px;
  }
  .rs-table .table > thead > tr > th {
    white-space: pre;
  }
  .ch-two {
    padding-left: 0;
  }
  .ch-two .biling-or {
    font-size: 17px;
  }
  .check-right-order-summer .hd-sh .hd {
    font-size: 25px;
  }
  .items-sm-bs .details .name {
    font-size: 12px;
  }
  .sku-last .rs-table .table > tbody > tr > td:last-child {
    width: 16%;
  }
  .qu-search .enter-div input.sku-enter {
    width: 175px;
    margin-right: 10px;
  }
  .qu-search .enter-div input.qty-input {
    margin-right: 15px;
  }
  .qu-search .enter-div button.add-basket {
    width: 124px;
  }
  .qu-search .enter-div button.add-wish {
    margin-right: 5px;
  }
  .table-range .table tbody tr td .add-baskets-range .add-basket-btn {
    font-size: 13px;
    width: 119px;
  }
  .table-range .table tbody tr td {
    padding: 17px 4px;
  }
  .table-range .table tbody tr td .add-baskets-range .quites-mes {
    font-size: 13px;
    width: 119px;
  }
  .table-range .table tbody tr td .price-ranges p.prs {
    font-size: 14px;
  }
  .table-range .table tbody tr td .price-ranges p.prs span {
    font-size: 11px;
    margin-left: 2px;
  }
  .table-range .table tbody tr td .range-p-details p.name {
    font-size: 12px;
  }
  .table-range .table tbody tr td .range-p-details p.text {
    font-size: 10px;
  }
  header .main-header .left-main-header p.gogo-down {
    font-size: 13px;
    letter-spacing: 0;
  }
  .sign-up-out {
    padding: 16px 11px;
  }
  .ch-two .names-de .deilist {
    font-size: 14px;
    padding-left: 128px;
    position: relative;
  }
  .ch-two .names-de .deilist span {
    width: 110px;
    font-size: 14px;
    position: absolute;
    left: 0;
  }
  .sign-up-out label {
    font-size: 13px;
    margin-bottom: -1px;
  }
  .main-items-list .radioos label .fixd-rate {
    left: 42%;
  }
  section .main-menu .menu-list ul li a span {
    vertical-align: inherit;
  }
  section > .main-menu .menu-list > ul > li > a {
    padding-top: 5px;
  }
  .m-menu-ul .dropdown-submenu > .dropdown-menu .last-level .power-name {
    text-align: center;
    width: 100%;
  }
  .m-menu-ul .dropdown-submenu > .dropdown-menu .last-level .main-price {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .m-menu-ul .main-bacro-menu {
    height: 390px;
  }
  header .cart .one {
    margin-right: 4px;
  }
  section > .main-menu .menu-list > ul > li {
    width: auto;
    float: none;
    padding: 0 11px;
  }
  section > .main-menu .menu-list > ul > li:first-child {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  header .main-header .left-main-header {
    text-align: center;
  }
  header .main-header .left-main-header img {
    display: inherit;
  }
  header .main-header .right-header .ser-line .l-search {
    width: 100%;
  }
  header .main-header .right-header .search input {
    width: 100%;
    padding-left: 6px;
  }
  header .main-header .right-header .search button {
    width: 18px;
  }
  .search {
    position: relative;
  }
  header .main-header .right-header .search button {
    width: 18px;
    position: absolute;
    right: 5px;
  }
  header .main-header .right-header .ser-line {
    margin-top: 0;
  }
  header .cart {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
  }
  .mobile-position {
    position: static;
  }
  header .main-header .right-header .ser-line .r-search {
    width: 100%;
  }
  header .main-header .right-header .ser-line .r-search .right-r .call {
    float: right;
  }
  header .main-header .right-header .ser-line .r-search .right-r a {
    font-size: 17px;
  }
  .right-r {
    margin-bottom: 12px;
  }
  .mobile-top-slider .slick-slide img {
    display: inherit;
  }
  .pd-line {
    background-color: #fff;
  }
  .left-in-items {
    padding: 26px 15px;
    background-color: #F6F6F6;
  }
  .left-in-items {
    margin-bottom: 15px;
  }
  .main-slider-side .slick-prev {
    bottom: 90px;
  }
  .main-slider-side .slick-next {
    bottom: 90px;
  }
  .main-slider-side .banner-detail .del {
    bottom: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .main-slider-side .banner-detail .del .name-lab span {
    font-size: 21px;
  }
  .main-slider-side .banner-detail .del .name-lab {
    font-size: 21px;
  }
  .main-slider-side .banner-detail .del .de-banner {
    font-size: 13px;
  }
  .main-slider-side .banner-detail .del {
    left: 0;
    right: 0;
  }
  .main-slider-side .banner-detail {
    padding-bottom: 120px;
  }
  section .eco {
    margin-top: 17px;
  }
  .cal-b-right .absolute-2 {
    top: auto;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 20px;
  }
  .cal-b-right {
    margin-top: 16px;
  }
  .home-down {
    margin-top: 75px;
  }
  footer .footer-tip-top .sub-scrip .hd-sub {
    margin-bottom: 15px;
    text-align: center;
  }
  footer .footer-tip-top .sub-scrip .input-sub {
    width: 100%;
  }
  .footer-link-section {
    text-align: center;
  }
  .camb {
    text-align: center;
  }
  .camb img {
    display: inherit;
  }
  .footer-link-section .footer-r-last .tp {
    font-size: 16px;
    margin-top: 5px;
  }
  .footer-link-section .footer-r-last .emal {
    font-size: 16px;
  }
  .center-footer {
    text-align: center;
  }
  .logo-snter {
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .center-footer .logo-snter2 {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .center-footer .right-shoshal-last ul li {
    padding: 0 12px;
  }
  .center-footer .right-shoshal-last ul {
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
  }
  .all-last .development {
    text-align: center;
  }
  .all-last .coppy {
    text-align: center;
  }
  .calibrtion img {
    width: 100%;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: none;
    transition: 0.5s;
    padding-right: 0;
    padding-left: 0;
  }
  .left-nems {
    padding: 12px;
  }
  .sidenav a {
    transition: 0.3s;
  }
  #mySidenav .closebtn {
    position: absolute;
    top: 12px;
    right: 11px;
    font-size: 18px;
  }
  #main {
    transition: margin-left 0.5s;
    width: 100%;
    margin: 0;
    padding-top: 17px;
  }
  .relativwe-se {
    position: relative;
    overflow: hidden;
  }
  .padding-rong {
    padding: 0;
  }
  .mobile-list .hd {
    font-size: 16px;
    color: #405966;
    font-weight: bold;
    border-bottom: solid 1px #ddd;
    margin-top: 40px;
    padding-bottom: 12px;
    margin-bottom: 17px;
  }
  button.shop-by-mobile {
    width: 100%;
    font-size: 16px;
    color: #EDEDED;
    background-color: #425968;
    border: none;
    height: 45px;
    margin-bottom: 30px;
  }
  .short-by .shor-ps {
    font-size: 15px;
    margin-top: 0;
    margin-right: 7px;
    line-height: 1;
    margin-bottom: 4px;
  }
  section .list-filtser button.clear-btn {
    float: none;
  }
  section .list-filtser .hd {
    margin-right: 15px;
  }
  .left-nems {
    position: relative;
  }
  .short-by .select-style {
    width: 100%;
  }
  .short-by {
    float: none;
  }
  #main {
    padding-top: 0;
  }
  button.shop-by-mobile {
    margin-bottom: 0;
  }
  .shop-by-mobile:focus {
    background-color: #333333;
  }
  .mobile-list-end img {
    width: 100%;
  }
  .mobile-list-end {
    margin-top: 35px;
    margin-bottom: 45px;
  }
  section.relativwe-se {
    margin-top: 25px;
  }
  .alumini-flm .bgs {
    font-size: 23px;
    padding: 13px 32px;
    top: 49%;
  }
  .catery-images {
    padding: 0 7px;
  }
  .right-lab-con .pera-left .lab-p {
    font-size: 20px;
  }
  .feit-mobile {
    font-size: 18px;
    color: #415967;
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 40px;
  }
  .detail-main-detail .vat ul li {
    float: none;
    text-align: center;
    display: inline-table;
  }
  .detail-main-detail .vat ul {
    text-align: center;
  }
  .detail-main-detail .in-stook {
    float: none;
  }
  .detail-main-detail {
    text-align: center;
  }
  button.pilips-center {
    margin-top: 24px;
    width: 100%;
    height: 68px;
    background-color: #F6F6F6;
    border: solid 1px #A1ACB4;
  }
  .detail-main-detail .bye-btn {
    padding: 2px 6px;
  }
  .detail-main-detail .bye-btn .left-hd span {
    vertical-align: inherit;
  }
  .detail-main-detail button.add-cart {
    width: 100%;
    margin-top: 30px;
  }
  .qty-sec {
    margin-top: 20px;
  }
  .detail-main-detail .qute-me {
    margin-top: 25px;
  }
  .detail-main-detail .qty-sec .qty-p {
    font-size: 15px;
    margin-top: 20px;
    margin-right: 60px;
    padding-left: 20px;
  }
  .detail-main-detail ul.bajs li {
    padding: 18px 0;
    width: 30%;
    text-align: center;
    float: none;
    display: inline-block;
  }
  .detail-main-detail ul.bajs li a img {
    display: initial;
  }
  .detail-main-detail ul.bajs {
    text-align: center;
  }
  .detail-main-detail .qute-me a {
    margin-left: 6px;
    border: solid 1px #5C6F7C;
    padding: 11px 24px;
  }
  .detail-main-detail .qute-me {
    margin-bottom: 27px;
  }
  .detail-main-detail .vat {
    border-bottom: solid 1px #DDDDDD;
    padding-bottom: 23px;
  }
  .detail-main-detail .vat {
    margin-top: 13px;
  }
  .detail-main-detail .second-name {
    text-align: left;
  }
  .detail-main-detail .second-name span {
    float: right;
  }
  .detail-tabs .fade {
    opacity: 1;
  }
  .detail-tabs .tab-content > .active {
    display: none;
  }
  .detail-tabs .tab-content {
    border: none;
    margin-top: 0;
    padding: 0;
  }
  .mobile-de-acodination {
    width: 100%;
    text-align: left;
    height: 44px;
    border: none;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
    background-color: transparent;
    margin-top: -1px;
  }
  .detail-tabs {
    margin-top: 10px;
  }
  .detail-tabs button.menu-accord {
    background: transparent;
    color: #333333;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    height: 50px;
    text-align: left;
    outline: none;
    border: 1px solid #c2c2c2;
    border-left: 0;
    border-right: 0;
    transition: 0.6s;
    font-size: 18px;
  }
  .detail-tabs button.menu-accord.active,
  .detail-tabs button.menu-accord:hover {
    background: transparent;
  }
  .detail-tabs button.menu-accord > span {
    width: 18px;
    height: 9px;
    background: url(../images/acodin-detail-lis.png) no-repeat;
    display: inline-block;
    float: right;
    margin-top: 8px;
    transition: 0.6s;
  }
  .detail-tabs button.menu-accord > span.sign-plus {
    background-position: bottom;
  }
  .detail-tabs button.menu-accord > span.sign-minus {
    background-position: top;
  }
  .detail-tabs .tab-pane {
    padding: 10px;
  }
  .feued .featured {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 17px;
    margin-bottom: 22px;
  }
  p.featured-check {
    padding: 0;
    font-size: 14px;
    margin-bottom: 31px;
    margin-top: -23px;
  }
  .feued.last-detail-sl {
    margin-bottom: 0;
  }
  .detail-sliders .slick-dots {
    bottom: -27px;
  }
  .detail-sliders .slick-dots li {
    width: 8px;
    height: 20px;
    border: none;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    background-color: #000;
  }
  .detail-sliders .slick-dots li button {
    width: 0;
    height: 0;
  }
  .detail-sliders .slick-dots li.slick-active {
    background-color: #968900;
    border-left: solid 1px #CAC47F;
    border-right: solid 1px #CAC47F;
  }
  .detail-sliders .slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    content: initial;
    text-align: center;
    opacity: 1;
    color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  header .main-header .left-main-header {
    margin-top: 50px;
  }
  header .cart .two {
    width: 50px;
    height: 23px;
    background-size: 56%;
  }
  header .cart .two p.items {
    width: 18px;
    height: 19px;
    text-align: center;
    background-color: #222222;
    margin-bottom: 0;
    color: #fff;
    float: right;
    margin-top: 4px;
    margin-right: 0;
  }
  header .cart .one {
    margin-top: 2px;
    width: 21px;
    float: right;
  }
  header .cart .one {
    margin-right: 7px;
  }
  header .cart {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    background-color: #F7F7F7;
    padding: 4px 10px;
    padding-bottom: 6px;
  }
  .hamberger {
    float: left;
    margin-top: 3px;
  }
  p.basket-main-hd {
    font-size: 22px;
    color: #415967;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 35px;
  }
  .uptade-btn button.basket-up-btn {
    width: 100%;
    height: 50px;
    font-size: 20px;
  }
  .uptade-btn {
    margin-top: 25px;
  }
  .delivry-notis .enter-here {
    margin-bottom: 45px;
  }
  .delivry-notis {
    width: 100%;
    margin-top: 20px;
  }
  .delivry-notis .enter-here button.apply-discer {
    width: 100px;
  }
  .delivry-notis .enter-here input.input-app-left {
    padding-right: 100px;
  }
  .mobile-basket .baskey-product .left-img-mb {
    float: left;
    margin-right: 12px;
  }
  .mobile-basket .ueh {
    display: block;
    float: left;
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }
  .mobile-basket .ueh .ksjm {
    font-size: 15px;
    float: left;
    margin-top: 2px;
    margin-right: 60px;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .mobile-basket p.subs-moibiles {
    display: block;
    float: left;
    width: 100%;
    font-size: 16px;
    color: #333333;
    margin-bottom: 0;
    font-weight: bold;
    margin-top: 20px;
  }
  .mobile-basket p.subs-moibiles span {
    color: #777777;
    margin-left: 15px;
  }
  .mobile-basket {
    float: left;
    width: 100%;
    position: relative;
    border-top: solid 1px #BBBBBB;
    border-bottom: solid 1px #BBBBBB;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 40px;
  }
  .left-basket-table .name-product .name-main {
    font-size: 15px;
  }
  .basket-close {
    position: absolute;
    right: 12px;
    bottom: 20px;
  }
  .right-banner img {
    width: 100%;
  }
  .blog-one .blog-deails p.we-lives {
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
  }
  .blog-one .blog-deails p.second-hd {
    font-size: 14px;
    text-align: left;
  }
  .blog-one .blog-deails p.it-has {
    line-height: 1.5;
    text-align: left;
  }
  .blog-one .blog-deails a.re-mores {
    font-size: 14px;
    padding: 10px 40px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .blog-one .blog-deails {
    padding: 15px;
    text-align: center;
  }
  .blog-one {
    margin-top: 30px;
  }
  .lastg {
    margin-top: 0;
    margin-bottom: 40px;
  }
  p.hd-mobile-about {
    font-size: 16px;
    color: #405966;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .img-about-big {
    margin-bottom: 17px;
  }
  .aboyt-ones {
    padding-right: 0;
  }
  .about-last {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .img-about-big img {
    width: 100%;
  }
  .aboyt-ones {
    margin-top: 20px;
  }
  .y-local {
    padding: 35px 16px;
  }
  .y-local .selectas .select-style {
    width: 100%;
    margin-bottom: 20px;
  }
  .y-local .enter-pster input {
    width: 100%;
    margin-bottom: 20px;
  }
  .y-local .search {
    width: 100%;
    height: 47px;
    font-size: 14px;
    margin-left: 0;
  }
  .table-responsive > .table {
    text-align: center;
  }
  .rs-table .table > tbody > tr > td {
    padding: 5px 15px;
    font-size: 13px;
    border-bottom: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #777777;
  }
  .product-categry {
    display: inline-block !important;
    font-size: 13px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 0;
  }
  .rs-table .table > tbody > tr {
    border-bottom: solid 1px #ddd;
  }
  .rs-table table tr td:nth-child(2) {
    display: inline-block !important;
  }
  .rs-table .table > tbody > tr > td:first-child {
    padding-top: 20px;
    font-size: 14px;
    color: #777777;
    font-weight: bold;
  }
  .rs-table .table > tbody > tr > td:last-child {
    padding-bottom: 20px;
    padding-left: 0;
  }
  .rs-table {
    border-bottom: none;
  }
  .sign-in-bacro {
    background-color: #F7F7F7;
    text-align: right;
  }
  p.sign-ins {
    padding: 5px 10px;
  }
  p.sign-ins a {
    color: #212121;
  }
  .img-about-banner {
    float: none;
  }
  .img-about-banner img {
    width: 100%;
  }
  .about-rights .hd {
    font-size: 16px;
    color: #405966;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 16px;
  }
  .expresss p.hd {
    font-size: 16px;
    color: #3F5966;
    font-weight: bold;
    line-height: 1;
    margin-top: 45px;
    margin-bottom: 15px;
  }
  .qu-search .enter-div input.sku-enter {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .qu-search .enter-div button.add-wish {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    margin-top: 20px;
    height: 47px;
  }
  .qu-search .enter-div button.add-basket {
    width: 100%;
    height: 47px;
  }
  .qu-search {
    padding: 22px 10px;
    margin-top: 4px;
    padding-bottom: 32px;
    padding-top: 26px;
  }
  a.basket-imges {
    float: none;
  }
  .sku-last table tr td:nth-child(2) {
    font-size: 16px;
    color: #777777;
    font-weight: bold;
    line-height: 1;
  }
  .sku-last .table > tbody > tr > td:first-child {
    font-weight: normal;
    line-height: 1;
  }
  .sku-last .table > tbody > tr > td:first-child span {
    display: inherit !important;
  }
  .sku-last table tr td:nth-child(4) span {
    display: inherit !important;
    font-size: 13px;
    color: #333333;
    font-weight: bold;
  }
  .rs-table .table {
    border: 1px solid #ddd;
  }
  .rs-table {
    border: none;
  }
  .sku-last {
    text-align: center;
  }
  .rs-table .add-all-bas {
    width: 97%;
    height: 47px;
    border: none;
    float: none;
    margin-top: 5px;
  }
  .detail-main-detail .qty-sec .qty-p2 {
    text-align: left;
  }
  .detail-main-detail .qty-sec .qty-p {
    margin-right: 0px;
    padding-left: 0px;
    text-align: left;
  }
  .detail-main-detail .qty-sec2 {
    margin-top: 28px;
    margin-bottom: 0;
  }
  .detail-main-detail ul.bajs-2 {
    margin-top: 0;
  }
  .detail-main-detail .qty-sec3 {
    margin-bottom: 0;
  }
  .detail-main-detail .qty-sec2 {
    margin-top: 20px;
  }
  .qty-sec {
    margin-top: 10px;
    padding-left: 12px;
  }
  .table-range .table tbody tr td {
    display: block;
    white-space: inherit;
  }
  .in-sh {
    margin-top: 8px;
  }
  .in-sh p.in-chick {
    font-size: 12px;
    color: #fff;
    background-color: #968900;
    padding: 3px 6px;
    display: initial;
  }
  .detail-main-detail button.add-cart {
    margin-top: 20px;
  }
  .mobile-detail-range .left-range-img {
    float: left;
    margin-right: 15px;
  }
  .mobile-detail-range .feit-elect {
    display: inline-block;
    margin-top: 4px;
  }
  .mobile-detail-range .feit-elect .feit-ps {
    font-size: 14px;
    color: #333333;
    margin-bottom: 0;
  }
  .mobile-detail-range .feit-elect .feit-ps2 {
    font-size: 12px;
    margin-bottom: 0;
    color: #777777;
  }
  .mobile-detail-range .feit-elect .price {
    font-size: 16px;
    color: #333333;
    margin-bottom: 0;
  }
  .mobile-detail-range .feit-elect .price span {
    font-size: 13px;
    color: #968800;
  }
  .items-review-one {
    padding-top: 20px;
    border-bottom: solid 1px #ccc;
  }
  .product-pos {
    font-size: 16px;
    color: #415967;
    font-weight: bold;
    border-bottom: solid 1px #BBBBBB;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .mini-box {
    width: 307px;
    text-align: center;
    padding: 15px;
    border: solid 1px #ccc;
    margin-top: 0;
    float: right;
    background-color: #fff;
    position: absolute;
    right: 0;
    z-index: 99;
    left: 0;
    top: -47%;
    margin: auto;
    padding-top: 33px;
  }
  .min-items {
    position: absolute;
    top: 3%;
    left: 0;
    right: 0;
  }
  .mii-last li {
    margin-bottom: 12px;
  }
  header .main-header .right-header .ser-line .r-search .right-r .call {
    letter-spacing: -1px;
  }
  header .main-header .right-header .ser-line .r-search .right-r .live span {
    padding-right: 4px;
  }
  header .main-header .right-header .ser-line .r-search .right-r .call span {
    padding-right: 4px;
  }
  .expresss p.pera {
    font-size: 13px;
  }
  .qu-search .qu-ser-hd {
    font-size: 16px;
  }
  header .main-header .left-main-header.check-uot-main-logo {
    margin-top: 3px;
  }
  .ch-all-mobile {
    background-color: #DEE2E5;
    position: relative;
    padding: 20px 16px;
  }
  .ch-all-mobile .ele-name {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 0;
  }
  .ch-all-mobile .ele-price {
    font-size: 20px;
    color: #525252;
    margin-bottom: 0;
  }
  .ch-all-mobile .cart {
    float: right;
    position: absolute;
    right: 7px;
    top: auto;
    left: auto;
    bottom: 20px;
    background-color: transparent;
    padding: 4px 10px;
    padding-bottom: 6px;
  }
  header .cart .two p.items {
    padding-top: 2px;
  }
  .paym {
    font-size: 16px;
    margin-top: 31px;
    padding-bottom: 0px;
    letter-spacing: 2px;
  }
  .payments {
    border-top: none;
    padding-top: 15px;
  }
  .payments ul li {
    padding-right: 20px;
  }
  p.from-s-saga {
    font-size: 14px;
  }
  .ch-two .biling-or {
    font-size: 13px;
  }
  .ch-two .names-de .deilist {
    font-size: 12px;
  }
  .other-adss {
    font-size: 13px;
  }
  .ch-two .names-de .deilist span {
    font-size: 12px;
  }
  .continew {
    height: 50px;
    background-color: #222222;
    border: none;
    text-align: center;
    font-size: 16px;
    color: #EBEBEB;
    width: 100%;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .left-main-header.check-uot-main-logo {
    width: 153px;
    margin: auto;
  }
  header .main-header .left-main-header.check-uot-main-logo p.gogo-down {
    font-size: 12px;
  }
  .left-checkout .main-hd-ch {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .main-ch-from .fm-lable {
    font-size: 15px;
  }
  .main-items-list {
    padding-bottom: 13px;
    margin-bottom: 23px;
    border-bottom: solid 1px #ddd;
  }
  .shoping-down-che p.hd {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  .main-items-list .radioos label .fixd-rate {
    left: 37%;
  }
  .main-items-list.lastr {
    padding-bottom: 4px;
    margin-bottom: 0;
    border-bottom: none;
  }
  .shoping-down-che .ch-next {
    font-size: 20px;
    width: 100%;
    margin-bottom: 40px;
  }
  .rs-table {
    margin-bottom: 43px;
  }
  .rs-table .table > tbody > tr > td:last-child {
    padding-left: 0;
    padding-right: 0;
  }
  .detail-psl > .tab-pane {
    border-right: 0;
    border-left: 0;
  }
  .mini-box {
    padding-top: 33px;
  }
  .catery-images {
    padding: 0 7px;
  }
  .catery-images .paddind-dv .name {
    font-size: 12px;
    font-weight: bold;
  }
  .catery-images .paddind-dv .parice {
    font-size: 15px;
    font-weight: bold;
  }
  .catery-images .paddind-dv .ex-change {
    font-size: 11px;
  }
  .blog-rjd {
    margin-bottom: 20px;
  }
  .y-local p.hd {
    margin-top: 0;
  }
  .y-local {
    padding: 30px 16px;
    margin-top: 22px;
  }
  .y-local p.hd {
    font-size: 16px;
  }
  .uptade-btn button.basket-up-btn {
    width: 100%;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  .blog-one .blog-deails p.second-hd {
    font-size: 13px;
  }
  a.serc {
    float: right;
    margin-top: 7px;
    margin-right: 10px;
  }
  header .main-header .left-main-header {
    width: 150px;
    margin: auto;
    margin-top: 50px;
  }
  header .main-header .left-main-header p.gogo-down {
    font-size: 11px;
    letter-spacing: 0.5px;
  }
  header .main-header .right-header .ser-line .r-search .right-r a {
    font-size: 15px;
  }
  header .cart {
    padding-bottom: 4px;
  }
  .right-r {
    margin-bottom: 20px;
  }
  header .main-header .right-header .ser-line .r-search {
    margin-top: 13px;
  }
  header .main-header .right-header .ser-line .l-search {
    margin-bottom: 10px;
  }
  .l-search {
    display: none;
  }
  .l-search.home-pages {
    display: block;
  }
  section .benifit .benifit-b {
    margin-top: 0;
  }
  .detail-sliders .slick-dots li {
    margin: 0 3px;
  }
  .right-lab-con .pera-left .lab-p {
    font-size: 16px;
  }
  .right-lab-con .pera-left .big-list-pera {
    font-size: 13px;
  }
  .select-sd {
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 25px;
  }
  p.basket-main-hd {
    font-size: 16px;
  }
  .basket-main-right-div {
    margin-top: 16px;
  }
  .basket-main-right-div p.hd {
    font-size: 23px;
    margin-bottom: 6px;
    margin-top: 6px;
  }
  .basket-main-right-div p.sub-in-total {
    font-size: 13px;
  }
  .about-last p.we-have-pera {
    font-size: 13px;
    margin-bottom: 20px;
    padding-right: 0;
  }
  .aboyt-ones .pera {
    font-size: 13px;
  }
  .about-last p.leading-hd {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .list-m-product.catery-images {
    margin-top: 0px;
  }
  .list-product-space {
    padding: 8px 0;
  }
  .lsnn {
    margin-bottom: 40px;
  }
  .rs-table .table {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .blog-one .blog-deails a.re-mores {
    letter-spacing: 1px;
  }

  .min-items {
    /*--new feedback--*/
    top: 1%;
  }
  .detail-tabs .tab-content p.contents {
    /*--new feedback--*/
    font-size: 14px;
  }
  .items-review-one {
    /*--new feedback--*/
    padding-top: 20px;
    border-bottom: 0;
  }
  .catery-images .paddind-dv .btns .signal span {
    /*--new feedback--*/
    width: 20px;
  }
  .catery-images .paddind-dv .btns .heart span {
    /*--new feedback--*/
    width: 18px;
  }
  .catery-images .paddind-dv .name {
    /*--new feedback--*/
    font-weight: normal;
  }
  .main-bnner-blog {
    /*--new feedback--*/
    margin-bottom: 10px;
  }
  .delivry-notis .enter-here input.input-app-left {
    /*--new feedback--*/
    letter-spacing: -0.5px;
  }
}
@media screen and (max-width: 480px) {

  button.pilips-center {
    /*--new feedback--*/
    height: 55px;
  }
  .hover-view a {
    /*--new feedback--*/
    padding: 8px 9px;
  }
  .paddind-dv:hover .hover-view a {
    /*--new feedback--*/
    padding: 6px 9px;
  }
}
@media screen and (max-width: 375px) {
  .footer-shoshal li {
    padding-left: 0px;
    padding-right: 0px;
    display: table-cell;
  }
  
  .footer-shoshal li {
    /*--new feedback--*/
    padding-left: 8px;
    padding-right: 8px;
    display: table-cell;
  }
  .hover-view {
    /*--new feedback--*/
    float: none;
    padding-left: 5px;
    width: 100%;
    padding-right: 5px;
  }
  .hover-view a {
    /*--new feedback--*/
    padding: 6px 2px;
    width: 100%;
    display: inline-block;
  }
  .paddind-dv:hover .hover-view a {
    /*--new feedback--*/
    padding: 6px 2px;
  }
  .hover-view {
    /*--new feedback--*/
    margin-bottom: 10px;
  }
}
