body{
	font-family: 'Arial';
}
a,button{
	outline: none;
}
a:facus{
	outline: none;
}
:facus{
	outline: none;
}
:active{
	outline: none;
}
:focus {
	outline: 0;
}
a:hover, a:focus,  {
	color:inherit;
	text-decoration: none;
}
input:focus{
	outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: 0;
	box-shadow:none;
}
header{
	.cart{
		float: right;
		.one{
			float: left;
			margin-top: 16px;
			margin-right: 12px;
		}
		.two{
			float: right;
			width: 63px;
			height: 45px;
			background: url(../images/cart-ico.png) no-repeat;
			background-position: bottom left;
			span{}
			p.items {
				width: 21px;
				height: 21px;
				text-align: center;
				background-color: #222222;
				margin-bottom: 0;
				color: #fff;
				float: right;
			}
		}
	}
	.main-header{
		padding-top: 9px;
		.left-main-header {
			margin-top: 17px;
			p.gogo-down {
				font-size: 17px;
				color: #545454;
				padding-top: 3px;
				padding-left: 15px;
				letter-spacing: -0.7px;
			}
		}
		.right-header{

			.login-ul{
				background: #000000;
				margin: 0;
				padding: 4px 3px;
				float: right;
				li{
					color: #fff;
					a{
						font-size: 14px;
						color: #fff;
						margin: 0;
						padding: 0;
					}
				}
			}
			.select-bx{
				float: right;
				width: 140px;
				position: relative;
				margin-top: 2px;
				margin-right: 22px;
				.btn{
					border: none;
					border-radius: 0;
					background-color: transparent;
					margin: 0;
					padding: 0;
					width: 100%;
					background: url(../images/header-icon-5.png) no-repeat center right;
					text-align: right;
					padding-right: 12px;
					font-size: 16px;
					color: #000000;
					span{
						padding-left: 4px;
					}

				}
				.dropdown-menu{
					width: 100%;
					border-radius: 0;
					text-align: right;
					min-width: 100%;
					padding-right: 11px;
					li{
						a{
							padding: 3px 0px;
							span{
								padding-left: 4px;
							}
						}
					}
				}
			}
			.search{
				button{
					margin: 0;
					padding: 0;
					background-color: transparent;
					border: none;
					margin-right: 10px;
				}
				input{
					width: 262px;
					border: none;
					border-bottom: solid 1px #5C6F7C;
					background-color: transparent;

				}
				::-webkit-input-placeholder { 
					color: #5B6E7B;
					font-family: 'Arial-Italic';
					font-style: italic;
				}
				::-moz-placeholder {
					color: #5B6E7B;
					font-family: 'Arial-Italic';
					font-style: italic;
				}
				:-ms-input-placeholder {
					color: #5B6E7B;
					font-family: 'Arial-Italic';
					font-style: italic;
				}
				:-moz-placeholder {
					color: #5B6E7B;
					font-family: 'Arial-Italic';
					font-style: italic;
				}
			}
			.ser-line{
				margin-top: 18px;
				.l-search{
					float: left;
					margin-top: 25px;
					margin-left: 44px;
				}
				.r-search{
					display: inline-block;
					margin-top: 18px;
					.right-r{
						a{
							font-size: 21px;
							color: #5B6E7B;
							padding-left: 38px;
						}
						.live{
							padding-left: 44px;
							span{
								padding-right: 13px;
							}
						}
						.call{
							padding-left: 31px;
							letter-spacing: -0.9px;
							span{
								padding-right: 6px;
							}
						}
					}
				}
			}
		}
	}
}


section{
	.benifit{
		.benifit-b{
			background-color: #FBFBFB;
			border: solid 1px #AEB7BE;
			margin-top: 21px;
			width: 100%;
			padding: 11px 5px;
			text-align: center;
			a{
				color: #5C6F7C;
				font-size: 18px;
				font-family: 'Arial-Bold';
				font-weight: bold;
				letter-spacing: 1px;
			}
			span{
				vertical-align: text-bottom;
				margin-right: 5px;
			}
		}
	}
}
.main-slider-side{
	background-color: #F8F8FA;
	.slick-prev {
		left: 35px;
		background: url(../images/main-slider-left-arow.png) no-repeat center center;
		height: 60px;
		width: 20px;
		z-index: 999;
		top: auto;
		bottom: 9%;
	}
	.slick-next {
		right: 25px;
		background: url(../images/main-slider-right-arow.png) no-repeat center center;
		height: 60px;
		width: 20px;
		z-index: 999;
		top: auto;
		bottom: 9%;
	}
	.slick-prev:before, .slick-next:before {
		font-family: 'slick';
		font-size: 20px;
		line-height: 1;
		opacity: 1;
		color: transparent;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.banner-detail{
		position: relative;
		padding-bottom: 90px;
		.del{
			position: absolute;
			bottom: 70px;
			left: 7%;
			.name-lab{
				font-size: 28px;
				font-weight: bold;
				color: #415967;
				margin-bottom: 0;
				line-height: 1;

				span{
					font-size: 28px;
					color: #5B6E7B;
					font-weight: normal;
					padding-left: 12px;
				}
			}
			.de-banner{
				font-size: 14px;
				color: #5B6E7B;
				letter-spacing: 0.3px;
				padding-bottom: 10px;
				padding-top: 3px;

			}
			.shop-btn{
				a{
					font-size: 15px;
					color: #212121;
					font-weight: bold;
					border: solid 1px #222222;
					width: 137px;
					padding: 9px 25px;
				}
			}
		}
		.banner-img{
			img{
				width: 100%;
			}
		}
	}
}
.left-in-items{
	padding: 20px;
	.color-items{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			margin-bottom:10px; 
			a{
				color: #fff;
				font-size: 18px;
				color: #EDEDED;
				background: #425968 url(../images/dubble-arow.png) no-repeat 95% center;
				display: block;
				transition: all 0.5s ease;
				padding: 12px 12px 12px 40px;

				span{
					font-size: 15px;
					display: block;
				}
			}
			a:hover{
				background: #968900 url(../images/dubble-arow.png) no-repeat 95% center;
			}

		}
	}
}
.padding-no{
	padding: 0;
}
.pd-line{
	float: left;
	width: 100%;
	background-color: #F8F8FA;
	margin-top: 20px;
}
section{
	.eco{
		position: relative;
		margin-top: 45px;
		.eco-absolute {
			position: absolute;
			bottom: 47px;
			text-align: center;
			width: 100%;
			p.eco-f {
				font-size: 25px;
				color: #415967;
				font-weight: bold;
			}
			p.peras {
				font-size: 14px;
				color: #5B6E7B;
				margin-bottom: 18px;
			}
			a.shop-now {
				font-size: 14px;
				color: #212121;
				border: solid 1px #222222;
				padding: 7px 20px;
			}
		}
	}
}
.cal-b-right{
	position: relative;
	margin-top: 45px;
	.absolute-2{position: absolute;
		right: 15%;
		top: 30%;
		.calibrion{
			font-size: 21px;
			color: #415967;
			font-weight: bold;
			margin-bottom: 0;
		}
		.calibrion-pera{
			font-size: 14px;
			color: #5B6E7B;
			margin-bottom: 17px;
		}
		a{
			color: #212121;
			font-size: 14px;
			border: solid 1px #222222;
			padding: 8px 20px;
		}
	}
}
.invation{
	position: relative;
	margin-top: 21px;
	.absolute-3{
		position: absolute;
		top: 30%;
		left: 6%;
		.innovate{
			font-size: 21px;
			color: #EDEDED;
			font-weight: bold;
			margin-bottom: 0;
		}
		.tncreat{
			font-size: 14px;
			color: #EDEDED;
			margin-bottom: 18px;
		}
		a{
			color: #EDEDED;
			font-size: 14px;
			border: solid 1px #EDEDED;
			padding: 8px 20px;
		}
	}
}
section{
	.terra{
		background: url(../images/thin-line.png);
		height: 148px;
		margin-top: 25px;
		.terreta{
			float: left;
			padding-top: 49px;
			padding-left: 90px;
		}
		.list-in{
			margin: 0;
			padding: 0;
			list-style: none;
			display: inline-block;
			padding-left: 128px;
			padding-top: 44px;

			li{
				background: url(../images/smaill-icon.png) no-repeat left center;
				padding-left: 30px;
				margin-bottom: 3px;
				a{
					font-size: 15px;
					color: #415967;
				}
			}
		}
	}
}
.catery-images{
	padding: 0 64px;
	.slick-prev {
		left: 0px;
		background: url(../images/left-aro-product.png);
		width: 20px;
		height: 58px
	}
	.slick-next {
		right: 0px;
		background: url(../images/right-arow-poroduct.png);
		width: 20px;
		height: 58px
	}
	.slick-prev:before, .slick-next:before {
		opacity: 1;
		color: transparent;
	}
	.paddind-dv{
		text-align: center;
		border: solid 1px #AEB7BE;
		display: inline-block;
		width: 100%;
		padding-bottom: 9px;
		cursor: pointer;
		.img-product{
			img{
				width: 100%;
			}
		}
		.name{
			font-size: 14px;
			color: #415967;
			margin-bottom: 0;
			margin-top: 12px;
			margin-bottom: 2px;
			line-height: 1.2;

		}
		.parice{
			font-size: 18px;
			color: #26333B;
			margin-bottom: 0;
			border-bottom: solid 1px #ddd;
			display: inline-block;
			padding: 0 4px; 
		}
		.ex-change{
			font-size: 13px;
			margin-top: 4px;
			color: #968800;
		}
		.btns{
			float: right;
			padding-right: 5px;
			.signal{
				span{
					transition: all 0.5s ease-out;
					background: url(../images/signal.png) no-repeat;background-position: top;
					width: 24px;
					display: inline-block;
					height: 13px;
				}
			}
			.heart{
				span{
					transition: all 0.5s ease-out;
					background: url(../images/heart-icon.png) no-repeat;
					width: 20px;
					height: 16px;
					background-position: top; 
					display: inline-block;
					padding-right: 12px;
				}
			}
		}
	}
}
.hover-view{
	float: left;
	padding-left: 5px;

	a{
		font-size: 11px;
		background-color: transparent;
		padding: 8px 10px;
		color: #fff;
		letter-spacing: 1px;
		transition: all 0.5s ease;
	}
}
.hover-view2 {
	float: left;
	padding-left: 5px;
	margin-top: -6px;
}
.hover-view2{
	a{
		background: url(../images/img-chek-all-product.png);
		background-position: top;
		width: 25px;
		height: 25px;
		display: block;
		transition: all 0.5s ease;
	}
}

.paddind-dv:hover, .paddind-dv:active, .paddind-dv:focus{
	border: solid 1px #968901;
	.hover-view{
		float: left;
		padding-left: 5px;
		display: block;
		a{
			font-size: 11px;
			background-color: #968900;
			padding: 8px 10px;
			color: #fff;
			letter-spacing: 0.5px;
		}
	}
	.btns{
		.signal{
			span{
				background-position: bottom;
			}
		}
		.heart{
			span{
				background-position: bottom;
			}
		}
	}
	.hover-view2{
		a{
			background: url(../images/img-chek-all-product.png);
			background-position: bottom;
			width: 25px;
			height: 25px;
			display: block;
		}
	}
}
.margind{
	padding: 15px;
}
.feued{
	.featured{
		font-size: 24px;
		color: #425968;
		font-weight: bold;
		text-align: center;
		margin-top: 70px;
		margin-bottom: 26px;
	}
}
.home-down{
	text-align: center;
	margin-top: 60px;
	padding: 0 81px;
	margin-bottom: 76px;
	.slick-slide img {
		display: inherit;
	}
	.slick-prev {
		left: 0px;
		background: url(../images/aow-last-left.png);
		height: 38px;
		width: 15px;
	}
	.slick-next {
		right: 0px;
		background: url(../images/aro-last-slider-right.png);
		height: 38px;
		width: 15px;
	}
	.slick-prev:before, .slick-next:before {
		opacity: 1;
		color: transparent;
	}
}
footer{
	.footer-tip-top{
		background-color: #425968;
		padding: 12px;
		.sub-scrip{
			text-align: center;
			margin: auto;
			.hd-sub{
				font-size: 16px;
				color: #ECECEC;
				font-weight: bold;
				margin-bottom: 0;
				text-align: right;
				margin-top: 8px;
			}
			.input-sub{
				width: 100%;
				position: relative;
				button{
					position: absolute;
					border: none;
					background-color: transparent;
					margin: 0;
					padding: 0;
					right: 15px;
					top: 7px;
				}
				input{
					border: solid 1px #EEEEEE;
					background-color: transparent;
					padding: 5px;
					width: 100%;
					height: 35px;
				}
			}
		}
	}
}
.footer-link-section{
	background-color: #26333C;
	.links{
		margin-top: 33px;
		.hd{
			font-size: 16px;
			color: #ECECEC;
			font-family: 'Arial-Bold';
		}
	}
	.links-footer-ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			a{
				font-size: 16px;
				color: #DDDDDD;

			}
		}
	}
	.footer-r-last{
		.camb {
			margin-top: 36px;
		}
		.contct{
			font-size: 16px;
			color: #DDDDDD;
			margin-top: 14px;
			margin-bottom: -2px;
		}
		.tp{
			font-size: 16px;
			color: #DDDDDD;
			margin-bottom: 0;
		}
		.emal{
			font-size: 16px;
			color: #DDDDDD;
			margin-bottom: 0;
		}
	}
	.footer-shoshal{
		margin-top: 41px;
		text-align: center;
		padding-bottom: 36px;
		ul{
			margin: 0;
			padding: 0;
			li{

			}
		}
	}
	.one-fh {
		margin-top: 15px;
	}
}
.center-footer{
	background-color: #EAF0F2;
	padding-top: 15px;
	padding-bottom: 14px;
	.logo-snter3{
		text-align: center;
	}
	.logo-snter2{
		margin-left: 8px;
	}
	.right-shoshal-last{
		ul{
			text-align: right;
			margin: 0;
			margin-top: 10px;
			padding: 0;
			li{
				padding: 0;
				padding-left: 7px;

			}
		}
	}

}
.all-last{
	background-color: #26333C;
	padding: 22px 0;
	.development{
		text-align: right;
		font-size: 15px;
		color: #ECECEC;
	}
	.coppy{
		text-align: right;
		font-size: 15px;
		color: #ECECEC;
	}
}








/* The container <div> - needed to position the dropdown content */
/*.dropdown {
    position: relative;
    display: inline-block;
    }*/

    /* Dropdown Content (Hidden by Default) */
/*.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
        width: 100%;
    left: 0;
    background-color: black;
    }*/

    /* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {
    display: block;
    }*/

    /* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.m-menu-ul{
	li.dropdown{
		position: static;
	}
}
.d-level-2{
	background-color: red;
	z-index: 2;
	display: none;
	right: 0%;
	}*/
	.positions{
		position: absolute;
		top: 5%;
		bottom: 0;
	}
	.pd-line{
		position: relative;
	}
	.mobile-top-slider{
		.slick-slide img {
			display: inherit;
		}
	}



	.img-eco img {
		width: 100%;
	}

	/*===================================category3=====================================*/
	section{
		.all-pagel-list{
			.list-all-ul{
				margin: 0;
				padding: 0;
				li{
					padding: 0;
					margin-right: 3px;
					a{
						font-size: 15px;
						color: #5B6E7B;
						font-style: italic;
						font-family: 'Arial-Italic';
						background: url(../images/line-listlist.png) no-repeat right center;
						padding-right: 10px;
						display: block;
					}
				}
				li:last-child{
					a{
						color: #968800;
						background: url(../images/line-listlist-last.png) no-repeat right center;
					}
				}
			}
		}
		.list-filtser{
			display: inline-block;
			width: 100%;
			border-bottom: solid 1px #DDDDDD;
			margin-bottom: 17px;
			.hd{
				float: left;
				font-size: 18px;
				color: #415967;
				font-weight: bold;
				letter-spacing: -1.5px;
				margin-bottom: 7px;
			}
			button.clear-btn {
				font-size: 11px;
				color: #968807;
				background-color: transparent;
				border: solid 1px #968807;
				float: right;
				font-weight: bold;
				width: 83px;
				margin: 0;
				padding: 0;
				height: 24px;
			}
		}
		.now-sshoping{
			background-color: #DEE2E5;
			padding: 18px 22px;
			margin-bottom: 35px;
			p.hd {
				font-size: 18px;
				color: #333333;
				font-weight: bold;
				border-bottom: solid 1px #000;
				display: inline-block;
				padding-right: 20px;
				letter-spacing: -1.5px;

			}
			.lb-for-machin{
				position: relative;
				p.pera {
					font-size: 18px;
					color: #525252;
					line-height: 1.3;
					padding-left: 29px;
					letter-spacing: -1.0px;
					margin-bottom: 4px;
				}
				button.close {
					opacity: 1;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
	.main-items-list{
		padding-bottom: 13px;
		margin-bottom: 27px;
		border-bottom: solid 1px #ddd;
		p.hd {
			font-size: 20px;
			color: #405966;
			font-weight: bold;
			margin-bottom: 10px;
			margin-top: 28px;
		}
		.radioos{
			input[type=radio], input[type=checkbox] {
				display: none;
			}
			input[type=radio] + label:before {
				content: "";  
				display: inline-block;  
				width: 17px;  
				height: 17px;  
				vertical-align:middle;
				margin-right: 8px;  
				border-radius: 0px;  
				background: url(../images/list-radio.png);
				background-position: bottom;
			}
			input[type=radio]:checked + label:before {
				text-align:center;
				line-height:14px;
				background: url(../images/list-radio.png);
				background-position: top;
			}
			label{
				font-size: 17px;
				color: #777777;
				font-weight: normal;
				line-height: 1;
				display: block;
				span {
					background-color: #222222;
					font-size: 12px;
					color: #fff;
					padding: 2px 3px;
					line-height: 1;
					float: right;

				}
			}
		}
		.price-list{
			background: url(../images/bacroud-d.png) no-repeat;
			background-position: left 7px;
			height: 17px;
			height: 44px;
			padding-right: 22px;
			margin-top: 14px;
			margin-bottom: 20px;
			.low{
				height: 18px;
				width: 42px;
				display: inline-block;
				background: url(../images/aro-one.png) no-repeat center top;
				text-align: center;
				font-size: 16px;
				color: #777777;
				padding-top: 23px;
			}
			.high{
				height: 18px;
				width: 60px;
				display: inline-block;
				background: url(../images/aro-one.png) no-repeat center top;
				text-align: center;
				font-size: 16px;
				color: #777777;
				padding-top: 23px;
				float: right;
			}
		}
	}
	.shop-by-size{
		.list-size{
			border: solid 1px #000;
			background-color: #F4F4F4;
			list-style: none;
			margin:0;
			padding: 0;
			display: inline-block;
			width: 100%;
			li{
				float: left;
				width: 90px;
				text-align: center;
				border-right: solid 1px #CCCCCC;
				height: 100%;
				padding: 10px;
				position: relative;
				padding-bottom: 19px;
				.sizes-div{
					width: 70px;
					height: 70px;
					background-color: #5C6F7C;
					display: table;
					span {
						font-size: 24px;
						color: #fff;
						font-weight: bold;
						vertical-align: middle;
						display: table-cell;
						width: 100%;
					}
				}
				p.name-c-s {
					margin-bottom: 0;
					font-size: 12px;
					color: #333333;
					text-align: center;
					position: absolute;
					bottom: 0;
					width: 100%;
					left: 0;
				}
			}
			li:first-child{
				padding: 0;
				float: left;
				border: none;
				height: 100px;
				width: 100px;
				color: #fff;
				background: #222222 url(../images/list-cente0ul.png) no-repeat center center;
				p.sh-bys {
					position: absolute;
					bottom: 12px;
					width: 100%;
					left: 0;
					text-align: center;
					font-size: 15px;
					color: #EEEEEE;
					font-weight: bold;
					margin-bottom: 0;
					line-height: 1;
				}
			}
			li:nth-child(4){
				.sizes-div{
					background-color: #9999FF;
				}

			}
			li:nth-child(5){
				.sizes-div{
					background-color: #FFCC99;
				}

			}
			li:nth-child(6){
				.sizes-div{
					background-color: #FF7A4D;
				}

			}
		}
	}
	p.right-main-hd {
		font-size: 28px;
		color: #415967;
		font-weight: bold;
		border-bottom: solid 1px #DDDDDD;
		margin-top: -13px;
		letter-spacing: 1px;
		padding-bottom: 4px;
		margin-bottom: 22px;
	}
	.filter-list-right{
		.left-short{
			a{}
		}
		.left-show-page{
			.show-p{
				font-size: 16px;
				color: #333333;
				margin-bottom: 0;
				float: left;
				margin-top: 3px;
				margin-right: 7px;
			}
			.select-style {
				float: left;
				padding-left: 3px;
				padding: 0;
				margin: 0;
				border: 1px solid #333333;
				width: 44px;
				font-size: 14px;
				color: #333333;
				border-radius: 0px;
				overflow: hidden;
				background-color: #fff;

				background: #fff url("../images/arow-small.png") no-repeat 85% 50%;
			}

			.select-style select {
				padding: 2px 2px;
				padding-left: 3px;
				width: 100%;
				border: none;
				box-shadow: none;
				background-color: transparent;
				background-image: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}

			.select-style select:focus {
				outline: none;
			}
			.per-p{
				font-size: 16px;
				color: #333333;
				margin-bottom: 0;
				margin-top: 1px;
				margin-left: 7px;
				display: inline-block;
			}
		}
	}
	.short-by{
		float: right;
		.shor-ps{
			font-size: 16px;
			color: #333333;
			margin-bottom: 0;
			float: left;
			margin-top: 3px;
			margin-right: 7px;
		}
		.select-style {
			float: left;
			padding-left: 3px;
			padding: 0;
			margin: 0;
			border: 1px solid #333333;
			width: 148px;
			font-size: 14px;
			border-radius: 0px;
			color: #333333;
			overflow: hidden;
			background-color: #fff;

			background: #fff url("../images/arow-small.png") no-repeat 95% 50%;
		}
		.select-style select {
			padding: 2px 2px;
			padding-left: 3px;
			width: 100%;
			border: none;
			box-shadow: none;
			background-color: transparent;
			background-image: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
		.select-style select:focus {
			outline: none;
		}
	}
	.left-short{
		a{
			margin-right: 5px;
		}
	}
	.iems-pgesn {
		font-size: 14px;
		text-align: right;
		color: #888888;
		border-top: solid 1px #CCCCCC;
		margin-top: 18px;
		padding-top: 8px;
		margin-bottom: 5px;
	}
	.peginations{
		text-align: center;
		.left-one{
			width: 24px;
			height: 24px;
			background: transparent url(../images/aro-a-none.png) no-repeat center center;
			border: solid 1px #222222;
			display: inline-block;
		}
		.left-one:hover{
			width: 24px;
			height: 24px;
			background: #222222 url(../images/arow-in-white.png) no-repeat center center;
			border: solid 1px #222222;
			display: inline-block;
		}
		.right-two{
			width: 24px;
			height: 24px;
			background: transparent url(../images/aro-w-none.png) no-repeat center center;
			border: solid 1px #222222;
			display: inline-block;
		}
		.right-two:hover{
			width: 24px;
			height: 24px;
			background: #222222 url(../images/aro-wks.png) no-repeat center center;
			border: solid 1px #222222;
			display: inline-block;
		}
		ul{
			margin: 0;
			padding: 0;
			border: solid 1px #222222;
			height: 24px;
			width: 165px;
			text-align: center;
			display: inline-block;
			li{
				padding: 0 4px;
				a{
					font-size: 14px;
					color: #878787;
				}
			}
		}

	}
	.filter-list-right {
		margin-top: 40px;
	}
	.list-m-product{
		padding: 0 15px;
	}
	.list-product-space{
		padding: 16px 10px;
	}
	p.tems-ls {
		float: right;
		font-size: 14px;
		color: #888888;
		margin-top: 2px;
	}
	.all-pagel-list {
		margin-top: 30px;
		margin-bottom: 44px;
	}
	.left-nems {
		padding-right: 24px;
	}
	.padij {
		padding-right: 45px;
	}
	.r-psdnig {
		padding-left: 44px;
	}
	.size-morn{
		margin-bottom: 20px;
	}
	.banner-img {
		margin-top: 39px;
	}
	.filter-list-right {
		margin-top: 32px;
	}
	.list-m-product.catery-images {
		margin-top: 17px;
	}
	.last-marrgind {
		margin-top: 25px;
		margin-bottom: 66px;
	}
	.lb-meshins {
		font-size: 17px;
		color: #777777;
		margin-bottom: 2px;
	}
	.aluminim{

		.hd-fall{
			font-size: 17px;
			color: #777777;
			margin-bottom: 12px;
			letter-spacing: -1px;
		}
		.bags{
			font-size: 17px;
			color: #777777;
			margin-bottom: 12px;
			letter-spacing: -1px;
		}
		.nabling{
			font-size: 17px;
			color: #777777;
			font-weight: bold;

		}
		.lables-uls{
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 17px;
			color: #777777;
			margin-bottom: 12px;
			padding-left: 20px;
		}
		.bags{
			font-size: 17px;
			color: #777777;
			margin-bottom: 12px;
			letter-spacing: -1px;
		}
	}
	.right-lab-con{
		.pera-left{
			.lab-p{
				font-size: 28px;
				color: #405966;
				font-weight: bold;
				line-height: 1;
				margin-bottom: 15px;
			}
			.big-list-pera{
				font-size: 15px;
				color: #777777;
				margin-bottom: 37px;
				line-height: 1.7;

			}
		}
	}
	.alumini-flm{
		position: relative;
		margin-top: 20px;
		.bgs{
			position: absolute;
			font-size: 16px;
			color: #EDEDED;
			background-color: #425968;
			padding: 13px 20px;
			margin-bottom: 0;
			top: 55%;
			left: 6%;
		}
		img{
			width: 100%;
		}
	}
	.select-sd {
		font-size: 20px;
		color: #415967;
		font-weight: bold;
		margin-bottom: 7px;
		margin-top: 29px;
	}
	section.banner-soap {
		margin-top: 52px;
		margin-bottom: 76px;
	}
	/*===================================category3=====================================*/


	/*===================================deial-page=====================================*/
	section{
		.detail-sliders{
			.big-slider{
				text-align: center;
				margin-bottom: 9px;
				.slick-slide img {
					display: initial;
				}
			}
			.small-slider{
				padding:0 40px;
				text-align: center;
				.slick-slide img {
					display: initial;
				}
				.padding-small {
					padding: 0 5px;
				}
				.slick-prev {
					left: 0px;
					background: url(../images/smal-left.png);
					width: 12px;
					height: 30px;
				}
				.slick-next {
					right: 0px;
					background: url(../images/detail-small-right.png);
					width: 12px;
					height: 30px;
				}
				.slick-prev:before, .slick-next:before {
					opacity: 1;
					color: transparent;
				}
			}

		}
	}
	.detail-main-detail{
		padding-left: 28px;
		.main-name{
			font-size: 32px;
			color: #405966;
			font-weight: bold;
			margin-bottom: 0;
			line-height: 1;
			letter-spacing: 1px;
		}
		.second-name{
			color: #777777;
			font-size: 16px;
			margin-bottom: 0;
			margin-top: 14px;
			letter-spacing: 0.5px;
			span{
				margin-left: 68px;
			}
		}
		.vat{
			margin-top: 37px;
			ul{
				margin: 0;
				padding: 0;

				li{
					float: left;
					text-align: center;
					margin: 0;
					padding: 0;
					padding-right: 32px;
					.vet-in-price{
						font-size: 27px;
						color: #415967;
						margin-bottom: 0;
						line-height: 1;
						letter-spacing: 1px;
					}
					.ex-vat{
						font-size: 13px;
						color: #968900;
						margin-bottom: 0;
						line-height: 1;
						margin-top: 5px;
					}
					.second-vat{
						font-size: 27px;
						color: #5B6E7B;
						margin-bottom: 0;
						line-height: 1;
						letter-spacing: 1px;
					}
				}
				.li:last-child{
					padding-right: 0px;
				}
			}
		}
		.qty-sec{
			width: 100%;
			display: inline-block;

			ul{
				margin: 0;
				padding: 0;
				li{
					padding: 0;
					margin-right: 5px;
					float: left;
					a{
						width: 35px;
						height: 35px;
						display: table;
						text-align: center;
						border: solid 1px #333333;
						font-size: 15px;
						color: #777777;
						span{
							vertical-align: middle;
							display: table-cell;
						}
					}
				}
				li:hover{
					background-color: #999999;
					a{
						color: #444444;
					}
				}
			}
			ul.listboxez-same1{
				li{
					background-color: transparent;
					border: none;
					a{
						border: none;
					}
				}
				li:first-child{background-color: #73DCFF;}
				li:nth-child(2){background-color: #9999FF;}
				li:nth-child(3){background-color: #FFCC99;}
				li:nth-child(4){background-color: #FF7A4D;}
			}
			.qty-p{
				font-size: 15px;
				color: #777777;
				float: left;
				margin-bottom: 0;
				margin-top: 19px;
				letter-spacing: 0.5px;
				margin-right: 0;
				width: 157px;
			}
			.qty-p2{
				font-size: 15px;
				color: #777777;
				float: left;
				margin-bottom: 0;
				margin-top: 9px;
				letter-spacing: 0.5px;
				margin-right: 0;
				width: 157px;
			}
		}
		.qty-sec1{
			margin-top: 30px;
		}
		.qty-sec2{
			margin-top: 25px;
			margin-bottom: 17px;
		}
		.qty-sec3 {
			margin-bottom: 25px;
		}
		.in-stook{
			width: 140px;
			height: 34px;
			background-color: #968900;
			color: #FFFFFF;
			border: none;
			float: right;
			margin-top: 8px;
		}
		.bye-btn{
			background-color: #DEE2E5;
			position: relative;
			padding: 9px 20px;
			margin-top: 24px;
			margin-left: 39px;
			.left-hd {
				font-size: 25px;
				background-color: #777777;
				color: #fff;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				padding: 18px;
				width: 94px;
				text-align: center;
				span{
					vertical-align: sub;
				}

			}
		}
		.for-price{
			.price-for {
				font-size: 12px;
				color: #535353;
				margin-bottom: 2px;
				text-align: right;
				margin-bottom: 1px;
				letter-spacing: 0.6px;
				margin-top: 4px;
				span{
					font-weight: bold;
				}
			}
		}
		.change-no{
			.btn-default {
				color: #333;
				background-color: #fff;
				border-color: #ccc;
				border: solid 1px #5C6F7C;
				width: 35px;
				height: 35px;
			}
			span{
				float: left;
				margin-right: 3px;
				margin-top: 12px;
			}
			input{
				width: 50px;
				height: 35px;
				border: solid 1px #5C6F7C;
				text-align: center;
				font-size: 18px;
				float: left;
				margin-right: 3px;
				margin-top: 12px;
			}
		}
		button.add-cart {
			width: 211px;
			height: 50px;
			background-color: #009700;
			border: none;
			font-size: 20px;
			margin-top: 6px;
			color: #EDEDED;
		}
		.qute-me{
			margin-top: 50px;
			.qute {
				width: 118px;
				height: 41px;
				border: solid 1px #5C6F7C;
				font-size: 16px;
				color: #333333;
				font-weight: bold;
				background-color: transparent;
			}
			a{
				margin-left: 24px;
			}
		}
		ul.bajs {
			list-style: none;
			text-align: right;
			padding: 0;
			li{
				float: right;
				padding: 20px 25px;
				padding-right: 0;
			}
		}
		ul.bajs-2 {
			margin-top: 50px;
		}
		.select-sed{
			margin-top: 30px;
			input[type=radio], input[type=checkbox] {
				display: none;
			}
			input[type=radio] + label:before {
				content: "";  
				display: inline-block;  
				width: 12px;  
				height: 12px;  
				vertical-align:middle;
				margin-right: 8px;  
				border-radius: 0px;  
				background: url(../images/detail-select.png);
				background-position: bottom;
			}
			input[type=radio]:checked + label:before {
				text-align:center;
				line-height:14px;
				background: url(../images/detail-select.png);
				background-position: top;
			}
			label{
				color: #777777;
				font-size: 15px;
				font-weight: normal;
			}
		}
		.print{
			text-align: right;
		}
		.right-pilips{
			text-align: right;
			margin-top: 23px;
			float: right;
		}
	}

	.detail-tabs{
		margin-top: 72px;
		.nav-tabs>li>a {
			margin-right: -1px;
			line-height: 1.42857143;
			border: solid 1px #9DA9B1;
			border-radius: 0;
			color: #333333;
			font-size: 18px;
			outline: none;
			background-color: #DEE2E5;
		}
		.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
			color: #EDEDED;
			background-color: #425968;
			outline: none;

		}
		.nav>li>a:hover, .nav>li>a:focus {
			text-decoration: none;
			background-color: #8bacc2;
			outline: none;
			color:#EDEDED;
		}
		.tab-content {
			border: solid 1px #9DA9B1;
			margin-top: -1px;

			padding: 20px 18px;
			p.contents {
				font-size: 15px;
				color: #777777;
				margin-bottom: 14px;
				line-height: 1.5;
			}
			p.contents2 {
				margin-bottom: 0px;
			}
		}
		.nav>li>a {
			position: relative;
			display: block;
			padding: 7px 22px;
		}
		.strs{
			border-bottom: solid 1px #ccc;
			display: inline-block;
			margin-top: 7px;
			padding-bottom: 3px;
			.strs-logo{
				float: left;
			}
			.num{
				float: left;
				font-size: 18px;
				color: #777777;
				padding-left: 11px;
			}
			.date{
				font-size: 13px;
				color: #212121;
				float: left;
				margin-top: 5px;
				margin-left: 19px;
				padding-right: 28px;
				margin-left: 31px;
				padding-right: 24px;
			}
		}
		p.pera-in-down {
			font-size: 15px;
			color: #777777;
			letter-spacing: 0.2px;
			margin-bottom: 16px;
		}
	}
	p.featured-check {
		padding: 0 79px;
		font-size: 18px;
		color: #666666;
		margin-top: -8px;
		margin-bottom: 31px;
	}
	.feued.last-detail-sl {
		margin-top: -13px;
		margin-bottom: 56px;
	}
	.see-bsn{
		text-align: right;
		margin-top: 12px;
		button.see-bellow {
			font-size: 14px;
			color: #fff;
			width: 221px;
			height: 34px;
			border: none;
			background-color: #968900;
		}
	}
	.detail-main-detail .vat.vat-grup {
		margin-top: 15px;
	}
	p.strt-at {
		font-size: 13px;
		color: #525252;
		margin-bottom: 7px;
	}
	.detail-main-detail .select-sed.select-sed-group {
		margin-top: 85px;
	}
	.right-pilips.right-pilips-group {
		margin-bottom: 50px;
	}
	.range-qty{
		text-align: center;
		margin-bottom: 12px;
		.btn-number{
			width: 28px;
			height: 28px;
			border: solid 1px #333333;
			background-color: transparent;
		}
		.about-us-form-control{
			width: 39px;
			height: 28px;
			border: solid 1px #333333;
			background-color: transparent;
			text-align: center;
		}
	}
	.table-range{
		.table{
			thead{
				tr{
					th{
						background-color: #F4F4F4;
						font-size: 18px;
						color: #333333;
						border: none;
						border-top: solid 1px #DDDDDD !important;
						border-bottom: solid 1px #DDDDDD;
						text-align: center;
					}
					th:first-child{
						width: 43%;
					}
				}
			}
			tbody{
				height: 1180px;
				overflow: scroll;
				tr{
					border-bottom: solid 1px #DDDDDD;
					td{
						vertical-align: middle;
						padding: 17px 0;
						.range-p-img {
							float: left;
							padding-right: 20px;
						}
						.add-baskets-range{
							text-align: center;
							.add-basket-btn{
								font-size: 16px;
								color: #EBEBEB;
								width: 158px;
								height: 41px;
								background-color: #009700;
								border: none;
								display: block;
								margin: auto;
							}
							.quites-mes {
								width: 158px;
								height: 41px;
								border: solid 1px #5C6F7C;
								background-color: transparent;
								font-size: 16px;
								color: #333333;
								font-weight: bold;
								margin-top: 12px;
							}
						}
						.range-p-details{
							margin-top: 12px;
							p.name {
								font-size: 16px;
								color: #545454;
								margin-bottom: 0;
								font-weight: bold;
							}
							p.sku {
								font-size: 13px;
								color: #777777;
								span {
									margin-left: 20px;
								}
							}
							p.text {
								font-size: 12px;
								color: #777777;
								letter-spacing: 0.5px;
							}
						}
						.price-ranges{
							p.prs {
								font-size: 18px;
								color: #415967;
								margin-bottom: 4px;
								text-align: center;
								span{
									font-size: 14px;
									color: #968800;
									margin-left: 10px;
								}
							}
						}
						p.mored-thens {
							font-size: 12px;
							color: #fff;
							background-color: #968900;
							text-align: center;
							padding: 7px;
							letter-spacing: 0.5px;
							margin-bottom: 0;
						}
						.hearts {
							margin-bottom: 28px;
						}
					}
				}
			}
		}

	}
	.p-rangers{
		.hd{
			font-size: 24px;
			font-weight: bold;
			color: #405966;
			text-align: center;
			margin-bottom: 20px;
			margin-top: 75px;
		}
	}
	.detail-tabs .detail-psl{
		border: none;
		padding: 0;
	}
	.naw-detaj{
		border: none;
	}

	.detail-psl>.tab-pane {
		padding: 12px;
		border: solid 1px #ddd;
	}
	.ali-spa{
		margin-left: 4px;
	}
	.naw-detaj{
		li{
			width: 170px;
			text-align: center;
			a{
				padding: 7px 5px;
			}
		}
	}
	.detail-tabs .naw-detaj > li > a {
		padding: 7px 5px;
	}
	.mobile-dests .qute-me {
		margin-bottom: 0;
	}
	.mobile-dests .qute-me {
		margin-top: 0;
	}
	/*===================================deial-page=====================================*/
	/*===================================basket-page=====================================*/
	.left-basket-table{
		.change-no span {
			float: left;
			margin-right: 3px;
		}
		.change-no .btn-default {
			color: #333;
			background-color: #fff;
			border-color: #ccc;
			border: solid 1px #5C6F7C;
			width: 28px;
			height: 28px;
		}
		.change-no input {
			width: 40px;
			height: 28px;
			border: solid 1px #5C6F7C;
			text-align: center;
			font-size: 14px;
			float: left;
			margin-right: 3px;
		}
		.change-no{
			float: left;
		}
		a.rests {
			padding-top: 4px;
			display: inherit;
			padding-left: 15px;
		}
		.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
			padding: 8px 0;
		}
		.table{
			margin-bottom: 0px;
			tbody{
				tr{
					border-bottom: solid 1px #DDDDDD;
				}
			}
		}
		.table>tbody>tr>td{
			padding: 18px 0;
			vertical-align: middle;
		}
		.table>thead>tr>td{
			font-size: 18px;
			color: #415967;
			font-weight: bold;
			line-height: 1;
		}
		.name-product{
			.name-main{
				font-size: 14px;
				color: #212121;
				font-weight: bold;
				margin-bottom: 3px;
			}
			.second-name{
				font-size: 13px;
				color: #777777;
				margin-bottom: 0;
			}
		}
		.price-ins{
			font-size: 16px;
			color: #405966;
			margin-bottom: 3px;
			span{
				font-size: 13px;
				color: #968800;
				margin-left: 12px;
			}
		}
		p.price-total {
			margin-bottom: 0;
			color: #405966;
			font-size: 16px;
		}
	}
	p.basket-main-hd {
		font-size: 28px;
		color: #415967;
		font-weight: bold;
		margin-bottom: 0;
		margin-top: -13px;

	}
	.uptade-btn{
		margin-top: 15px;
		button.basket-up-btn {
			width: 158px;
			height: 30px;
			float: right;
			font-size: 12px;
			color: #ECECEC;
			background-color: #968900;
			border: none;
			margin-bottom: 13px;
			margin-top: -3px;
		}
	}
	.delivry-notis{
		width: 421px;
		::-webkit-input-placeholder { 
			color:#777777;
			font-size: 15px;
			font-style: italic;
		}
		::-moz-placeholder { 
			color:#777777;
			font-size: 15px;
			font-style: italic;
		}
		:-ms-input-placeholder {
			color:#777777;
			font-size: 15px;
			font-style: italic;
		}
		:-moz-placeholder { 
			color:#777777;
			font-size: 15px;
			font-style: italic;
		}
		.deview{
			font-size: 21px;
			color: #5A6D7A;
			margin-bottom: 7px;
		}
		textarea.enter-spesel {
			width: 100%;
			border: solid 1px #5A6D7A;
			height: 80px;
			padding: 6px 12px;
			margin-bottom: 16px;
		}
		.enter-here{
			position: relative;
			input.input-app-left {
				border: solid 1px #5A6D7A;
				width: 100%;
				height: 35px;
				padding-left: 12px;
				padding-right: 158px;
			}
			button.apply-discer {
				position: absolute;
				right: 0;
				top: 0;
				height: 35px;
				width: 158px;
				font-size: 14px;
				color: #EBEBEB;
				border: none;
				background-color: #222222;
			}
		}
	}
	.basket-main-right-div{
		background-color: #F4F4F4;
		padding: 13px 20px;
		button.menu-accord { 
			background: transparent; 
			color: #5B6E7B; 
			cursor: pointer; 
			padding: 6px 0px;
			width: 100%; 
			text-align: left; 
			outline: none; 
			border: 1px solid #DDDDDD; 
			border-left: 0; 
			border-right:0;
			border-top: 0;
			transition: 0.6s;
			font-size: 16px;
			margin-bottom: 21px;
		}
		button.menu-accord.active, button.menu-accord:hover { background: transparent; }


		button.menu-accord > span {
			width: 18px;
			height: 9px;
			background: url(../images/acodin-detail-lis.png) no-repeat;
			display: inline-block;
			float: right;
			margin-top: 8px;
			transition: 0.6s;
		}
		button.menu-accord .sign-plus { background-position: bottom; }
		button.menu-accord .sign-minus { background-position: top; }
		p.hd {
			color: #415967;
			font-size: 32px;
		}
		p.sub-te {
			font-size: 14px;
			color: #777777;
			span{
				float: right;
			}
		}
		p.sub-in-total {
			font-size: 16px;
			color: #535353;
			font-weight: bold;
			border-top: solid 1px #ccc;
			border-bottom: solid 1px #ccc;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 15px;
			span{
				float: right;
			}
		}
		button.proses-che {
			font-size: 20px;
			color: #EBEBEB;
			border: none;
			background-color: #009700;
			height: 50px;
			width: 100%;
			margin-top: 15px;
		}
		p.check-out {
			font-size: 14px;
			color: #777777;
			text-align: center;
			margin-top: 12px;
		}
		.listpays{
			text-align: center;
			margin: 0;
			padding: 0;
			padding-top: 15px;
			margin-bottom: 15px;
		}

	}
	.basket-second-rightd {
		margin-top: 15px;
		margin-bottom: 75px;
	}
	.left-basket-table .table {
		margin-top: 24px;
	}

	/*===================================basket-page=====================================*/

	/*===================================blog-page=====================================*/
	.main-bnner-blog{
		img{
			width: 100%;
		}
	}
	.blog-one{
		border: solid 1px #CCCCCC;
		margin-top: 40px;
		.blog-deails{
			padding-top: 40px;
			padding-left: 25px;
			p.we-lives {
				font-size: 28px;
				color: #405966;
				font-weight: bold;
				line-height: 1.3;
				margin-bottom: 0;
			}
			p.second-hd {
				font-size: 16px;
				color: #333333;
				margin-top: 8px;
				span{
					color: #666666;
					font-style: italic;
				}
			}
			p.it-has {
				font-size: 14px;
				color: #666666;
				line-height: 1.5;
			}
			a.re-mores {
				background-color: #425968;
				font-size: 18px;
				color: #EBEBEB;
				display: inline-block;
				text-align: center;
				padding: 9px 35px;
				margin-top: 25px;
			}
		}
	}
	.right-banner{
		img{
			float: right;
		}
	}
	.blogs-main-r-items{
		margin-top: 40px;
		margin-left: 30px;
		.list-pest{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				font-size: 17px;
				color: #777777;
				margin-bottom: 13px;
				span{
					width: 18px;
					height: 18px;
					background-color: #222222;
					text-align: center;
					font-size: 12px;
					color: #fff;
					float: right;
					padding-top: 2px;
				}
			}
		}
	}
	.posui {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.last-no-row{
		position: relative;
	}
	.lastg {
		margin-top: 40px;
		margin-bottom: 70px;
	}
	/*===================================blog-page=====================================*/
	/*===================================about-page=====================================*/
	.about-uslist{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			margin-bottom: 12px;
			a{
				font-size: 17px;
				color: #777777;

			}
		}
	}
	.aboyt-ones{
		padding-right: 40px;
		margin-top: -8px;
		.hd{
			font-size: 28px;
			color: #3F5966;
			font-weight: bold;
		}
		.pera{
			font-size: 15px;
			color: #777777;
			line-height: 1.55;
			margin-bottom: 20px;
		}
	}
	.about-last{
		margin-bottom: 75px;
		margin-top: 55px;
		p.leading-hd {
			font-size: 20px;
			color: #405966;
			font-weight: bold;
			margin-bottom: 20px;
		}
		p.we-have-pera {
			font-size: 15px;
			color: #777777;
			line-height: 1.55;
			margin-bottom: 20px;
			padding-right: 12px;
		}
	}
	.img-about-banner{
		float: right;
	}
	.about-rights {
		margin-top: -5px;
	}
	/*===================================about-page=====================================*/
	/*===================================field-specialist-page=====================================*/
	.y-local{
		background-color: #DEE2E5;
		padding: 30px;
		margin-top: 35px;
		.selectas{
			.select-style {
				padding: 0;
				margin: 0;
				border: 1px solid #425968;
				width: 275px;
				border-radius: 0px;
				overflow: hidden;
				background-color: transparent;
				background: transparent url("../images/arow-select.png") no-repeat 96% 50%;
				font-size: 15px;
				color: #425968;
				float: left;
				margin-right: 20px;
			}

			.select-style select {
				padding: 5px 15px;
				width: 100%;
				border: none;
				box-shadow: none;
				background-color: transparent;
				background-image: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}

			.select-style select:focus {
				outline: none;
			}
		}
		.enter-pster{
			::-webkit-input-placeholder { 
				color: #777777;
				font-size: 15px;
				font-style: italic;
			}
			::-moz-placeholder { 
				color: #777777;
				font-size: 15px;
				font-style: italic;
			}
			:-ms-input-placeholder {
				color: #777777;
				font-size: 15px;
				font-style: italic;
			}
			:-moz-placeholder { 
				color: #777777;
				font-size: 15px;
				font-style: italic;
			}
			input{
				border: 1px solid #425968;
				font-size: 15px;
				padding: 5px 15px;
				width: 275px;
				float: left;
				background-color: transparent;
			}

		}
		.search{
			width: 90px;
			height: 33px;
			font-size: 14px;
			color: #fff;
			margin-left: 20px;
			background-color: #222222;
			border: none;
		}
		p.hd {
			font-size: 18px;
			color: #333333;
			font-weight: bold;
			margin-bottom: 15px;
		}
	}
	.img-about-big{
		img{
			float: right;
		}
	}
	.rs-table{
		margin-top: 50px;
		margin-bottom: 50px;
		table{
			thead{
				tr{
					border: none;
					background-color: #F4F4F4;
					border-top: solid 1px #DDDDDD;
					border-bottom: solid 1px #DDDDDD;
				}
			}
		}
		.table>thead>tr>th{
			border-bottom: 0;
			font-size: 16px;
			color: #333333;
			font-weight: bold;
			padding: 9px 15px;
		}
		.table>tbody>tr>td{
			padding: 12px 15px;
			font-size: 15px;
			color: #777777;
			border-top: none;
			border-bottom: 1px solid #ddd;
		}

	}
	/*===================================field-specialist-page=====================================*/

	/*===================================checkout-page=====================================*/
	header .main-header .right-header .ser-line .r-search.check-out {
		display: inline-block;
		margin-top: 18px;
		width: 100%;
		text-align: right;
	}
	.main-ch-from{
		margin-top: 14px;
		.select-style {
			padding: 0;
			margin: 0;
			border: 1px solid #CCCCCC;
			width: 100%;
			border-radius: 0px;
			overflow: hidden;
			background-color: #fff;
			color: #5B6E7B;
			font-size: 16px;
			background: #fff url("../images/aro-pch-from.png") no-repeat 97% 56%;
		}

		.select-style select {
			padding: 6px 12px;
			width: 100%;
			border: none;
			box-shadow: none;
			background-color: transparent;
			background-image: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}

		.select-style select:focus {
			outline: none;
		}
		.fm-lable{
			font-size: 18px;
			color: #5A6D7A;
			margin-bottom: 5px;
		}
		.input-lb{
			width: 100%;
			height: 34px;
			border: solid 1px #CCCCCC;
			padding: 0 5px;
		}
	}
	.shoping-reveiw{
		.shoping-left{
			float: left;
			text-align: center;
			.s-hd{
				font-size: 13px;
				color: #968800;
				margin-bottom: 0;
				padding-top: 12px;
			}
			.s-hd-2{
				font-size: 13px;
				color: #322428;
				margin-bottom: 0;
				padding-top: 12px;
			}
		}
	}
	.left-checkout{
		margin-top: 38px;
		.main-hd-ch{
			font-size: 28px;
			color: #4C6371;
			font-weight: bold;
			margin-bottom: 27px;
			letter-spacing: 1px;
		}
		p.hds {
			font-size: 13px;
			color: #777777;
			margin-bottom: 0;
			margin-top: 10px;
			margin-bottom: 12px;
		}
		p.type-acxoj {
			font-size: 18px;
			color: #5A6D7A;
		}
		.addre-2{
			margin-top: 12px;
		}
	}
	.main-items-list .radioos label{
		.fixd-rate {
			float: none;
			background-color: transparent;
			margin: 0;
			padding: 0;
			font-size: 16px;
			color: #555555;
			position: absolute;
			left: 50%;
		}
		.flar-rate{
			float: none;
			background-color: transparent;
			margin: 0;
			padding: 0;
			font-size: 16px;
			color: #555555;
			position: absolute;
			right: 0;
		}

	}
	.ch-last-lable{
		position: relative;
		margin-bottom: 15px;

	}
	.shoping-down-che{
		p.hd {
			font-size: 28px;
			color: #415967;
			font-weight: bold;
			margin-bottom: 30px;
			margin-top: 51px;
		}
		.ch-next{
			color: #ECECEC;
			font-size: 22px;
			width: 211px;
			height: 50px;
			border: none;
			background-color: #222222;
			margin-top: 11px;
			margin-bottom: 73px;
		}
	}
	.check-right-order-summer{
		.hd-sh{
			.hd{
				font-size: 32px;
				color: #4C6371;
				margin-bottom: 0;
				line-height: 1;
				float: left;
			}
			.rigth-svb{
				float: right;
				.num{
					font-size: 18px;
					color: #fff;
					width: 22px;
					height: 22px;
					padding: 1px 7px;
					text-align: center;
					background-color: #222222;
					vertical-align: middle;
					margin-left: 5px;
				}
			}
		}
		.hd-sh {
			display: inline-block;
			width: 100%;
			border-bottom: solid 1px #ccc;
			padding-bottom: 6px;
			margin-bottom: 11px;
		}
		p.sub-ez {
			font-size: 14px;
			color: #777777;
			span{
				float: right;
				font-size: 16px;
			}
		}
		p.order-totals {
			font-size: 16px;
			color: #545454;
			margin-bottom: 0;
			border-top: solid 1px #BBBBBB;
			padding-top: 12px;
			padding-bottom: 12px;
			border-bottom: solid 1px #BBBBBB;
			span{
				float: right;
			}
		}
	}
	.basket-main-right-div button.menu-accord{
		span.left-pnonns{
			background: transparent;
			float: none;
			color: #968700;
			font-size: 16px;
			margin: 0;
			padding: 0;
			margin-right: 5px;
		}
	}
	.items-sm-bs{
		display: inline-block;
		width: 100%;
		position: relative;
		.img{
			float: left;
			margin-right: 15px;
		}
		.details{
			float: left;
			margin-top: 5px;
			.name{
				font-size: 13px;
				color: #333333;
				margin-bottom: 4px;
			}
			.se-name{
				font-size: 12px;
				color: #777777;
				margin-bottom: 0;
			}
			.prices{
				font-size: 14px;
				color: #333333;
				margin-bottom: 0;
				span{
					font-size: 12px;
					color: #968700;
					margin-left: 6px;
				}
			}
		}
		.text-inklsj{
			width: 22px;
			height: 22px;
			border: solid 1px #777777;
			position: absolute;right: 0;
			background-color: transparent;
			text-align: center;
		}
	}
	.sign-up-out{
		background-color: #658194;
		padding: 23px 26px;
		margin-top: 25px;
		input[type=radio], input[type=checkbox] {
			display: none;
		}
		input[type=checkbox] + label:before {
			content: "";  
			display: inline-block;  
			width: 37px;  
			height: 37px;  
			vertical-align:middle;
			margin-right: 8px;  
			border-radius: 0px;  
			margin-top: -3px;
			background: url(../images/bacro-true.png);
			background-position: bottom;
		}
		input[type=checkbox]:checked + label:before {
			text-align:center;
			line-height:14px;
			background: url(../images/bacro-true.png);
			background-position: top;
		}
		label{
			font-size: 18px;
			color: #fff;
			font-weight: normal;
			margin-bottom: 0;
		}
	}
	header .main-header .right-header .ser-line .r-search.ch-r-search {
		width: 100%;
		text-align: right;
	}
	.check-outs{
		margin-top: 18px;
	}
	.check-right-order-summer {
		margin-top: 45px;
		padding-top: 29px;
		padding-bottom: 28px;
	}
	.same.basket {
		margin-top: 27px;
	}
	.lastb{
		border-bottom: none;
		.radioos input[type=radio] + label:before {
			margin-right: 40px;
		}
	}
	.shoping-reveiw .shoping-left .second-lewel{
		color: #78AB45;
	}
	.shoping-reveiw .shoping-left .second-lewel2{
		color: #968901;
	}
	.payments {
		border-top: solid 1px #ddd;
		padding-top: 20px;
		ul{
			margin: 0;
			padding: 0;
			font-size: 16px;
			color: #5B6E7B;
			li{
				padding-left: 0;
				padding-right: 27px;
			}
		}
	}
	.ch-two{
		padding-top: 27px;
		padding-left: 54px;
		padding-bottom: 22px;
		border-bottom: solid 1px #ccc;
		.biling-or{
			font-size: 18px;
			color: #777777;
			margin-bottom: 20px;
		}
		.names-de{
			.deilist{
				font-size: 14px;
				color: #777777;
				span{
					width: 110px;
					background: url(../images/cros-icon.png) no-repeat center right;
					font-size: 14px;
					color: #5B6E7B;
					display: inline-block;
					margin-right: 15px;
				}
			}
		}
	}
	.biling-or{
		font-size: 18px;
		color: #777777;
		span {
			padding-right: 10px;
		}
	}
	.other-adss{
		font-size: 18px;
		color: #5B6E7B;
		margin-top: 33px;
		margin-bottom: 0;
		span {
			padding-right: 10px;
			vertical-align: sub;
		}
	}
	.names-de {
		padding-left: 26px;
	}
	.paym {
		font-size: 28px;
		color: #4C6371;
		font-weight: bold;
		margin-top: 39px;
		padding-bottom: 22px;
		letter-spacing: 2px;
	}
	.ship-top{
		.ship-top-hd{
			font-size: 24px;
		}
	}

	.ship-top{
		margin-top: 40px;
		margin-bottom: 75px;
		.ship-top-hd{
			color: #4C6371;
			font-size: 24px;
			border-bottom: solid 1px #ddd;
			span{
				float: right;
				margin-right: 8px;
			}
		}
	}
	p.j-hn {
		font-size: 14px;
		color: #868686;
		line-height: 1.8;
		margin-bottom: 16px;
		margin-top: 16px;
	}
	/*===================================checkout-page=====================================*/
	/*===================================express-checkout-page=====================================*/
	.expresss{
		p.hd {
			font-size: 28px;
			color: #3F5966;
			font-weight: bold;
			line-height: 1;
			margin-top: -8px;
			margin-bottom: 22px;
		}
		p.pera {
			font-size: 15px;
			color: #777777;
			line-height: 1.6;
			margin-bottom: 25px;
			letter-spacing: 0.3px;
		}
	}
	.qu-search{
		background-color: #DEE2E5;
		padding: 22px 24px;
		margin-top: 4px;
		padding-bottom: 32px;
		.qu-ser-hd{
			font-size: 18px;
			color: #333333;
			font-weight: bold;
			margin-bottom: 17px;
		}
		.enter-div{
			input.sku-enter {
				width: 275px;
				height: 34px;
				border: solid 1px #425968;
				padding: 0 13px;
				background-color: transparent;
				float: left;
				font-style: italic;
				font-size: 15px;
				margin-right: 22px;
			}
			p.qty-p {
				float: left;
				font-size: 15px;
				color: #405966;
				margin-bottom: 0;
				margin-top: 7px;
				margin-right: 7px;
			}
			input.qty-input {
				background-color: transparent;
				border: solid 1px #425968;
				width: 54px;
				height: 34px;
				float: left;
				padding: 0 4px;
				margin-right: 39px;

			}
			button.add-wish {
				font-size: 14px;
				color: #fff;
				width: 140px;
				height: 35px;
				border: none;
				background-color: #968900;
				float: left;
				margin-right: 9px;
			}
			button.add-basket {
				color: #EBEBEB;
				border: none;
				font-size: 14px;
				background-color: #009700;
				width: 140px;
				height: 35px;
			}
		}
	}
	a.basket-imges {
		float: right;
		.right {
			margin-left: 10px;
		}
	}
	.rs-table{
		.table{
			margin-bottom: 10px;
		}
		.add-all-bas{
			color: #EBEBEB;
			background-color: #009700;
			width: 163px;
			height: 35px;
			border: none;
			float: right;
		}
	}
	.sku-last{
		margin-bottom: 73px;
		table{
			tr{
				th:first-child{
					width: 16%;
				}
			}
		}
	}
	/*===================================express-checkout-page=====================================*/
	/*===================================mega-menu=====================================*/
	section > .main-menu{
		background-color: #425968;
		margin-top: 6px;
	}
	section > .main-menu .menu-list > ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	section > .main-menu .menu-list > ul > li{
		width: 153px;
		text-align: center;
		border-right: solid 1px #fff;
		height: 44px;
		margin: 0;
		padding: 0;
		position: static;
	}
	section > .main-menu .menu-list > ul > li > a{
		color: #fff;
		font-size: 20px;
		width: 100%;
		height: 100%;
		display: inline-block;
		line-height: 2;
	}
	section > .main-menu .menu-list > ul > li > a > span{
		vertical-align: middle;
	}
	section > .main-menu .menu-list > ul > li:first-child > a > img{
		vertical-align: sub;
	}
	.m-menu-ul .dropdown-menu > li > a {
		display: block;
	}
	.m-menu-ul .dropdown-submenu {
		position:relative;
	}
	.m-menu-ul .dropdown-submenu>.dropdown-menu {
		top: 0;
		left: 100%;
		margin-left: 0px;
		height: 100%;
		box-shadow: none;
		border: none;
		border-right: solid 1px #BBBBBB;
		background-color: transparent;
	}
	.m-menu-ul .dropdown-menu > li > a:hover, .m-menu-ul .dropdown-menu > .active > a:hover {
		text-decoration: none;
	}  
	ul.m-menu-ul li:hover > ul.dropdown-menu{
		display: block;
	}
	ul.m-menu-ul li:hover .main-bacro-menu{
		display: block;
	}
	ul.third-level li:hover .last-level{
		display: block;
	}
	#navbar {
		text-align: center;
	}







	.m-menu-ul .main-bacro-menu{
		width: 100%;
		border-radius: 0;
		min-width: 100%;
		margin: 0;
		padding: 20px 0px;
		margin-top: -1px;
		border: solid 1px #BBBBBB;
		box-shadow: none;

	}
	.m-menu-ul .first-level{
		width: 25%;
		border-radius: 0;
		min-width: 25%;
		margin: 0;
		padding: 0;
		list-style: none;
		border-right: solid 1px #BBBBBB;
		position: relative;
		height: 100%;

	}
	.m-menu-ul .first-level > li{
		position: static;
		padding: 0 12px;
	}
	.m-menu-ul .first-level > li > a{
		color: #2C1D21;
		font-size: 14px;
		padding: 5px 8px;
		display: block;
	}
	.m-menu-ul .first-level > li > a:hover{
		color: #fff;
		background-color: #777777;
	}
	.m-menu-ul .second-level{
		width: 100%;
		border-radius: 0;
		min-width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		border-right: solid 1px #BBBBBB;
		top: 0;
		right: 0;
		height: 100%;
	}

	.m-menu-ul .second-level >li{
		position: static;
		padding: 0 12px;
	}
	.m-menu-ul .second-level >li > a{
		color: #2C1D21;
		font-size: 14px;
		padding: 5px 8px;
		display: block;
	}
	.m-menu-ul .second-level >li > a:hover{
		color: #fff;
		background-color: #999999;
	}
	.m-menu-ul .third-level{
		width: 100%;
		border-radius: 0;
		min-width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		border-right: solid 1px #BBBBBB;
		top: 0;
		right: 0;
		height: 100%;
	}

	.m-menu-ul .third-level >li{
		position: static;
		padding: 0 12px;
	}
	.m-menu-ul .third-level >li > a{
		color: #2C1D21;
		font-size: 14px;
		padding: 5px 8px;
		display: block;
	}
	.m-menu-ul .third-level >li > a:hover{
		color: #fff;
		background-color: #BBBBBB;
	}
	.m-menu-ul .dropdown-submenu > .dropdown-menu.last-level {
		border: none;
		text-align: center;
		.text{
			img{
				display: initial;
				margin-bottom: 12px;
			}
		}
	}
	.m-menu-ul .dropdown-submenu > .dropdown-menu .last-level{
		width: 100%;
		border-radius: 0;
		min-width: 100%;
		margin: 0;
		height: 100%;
		padding: 15px;
		padding-right: 0;
		list-style: none;
		text-align: center;
		top: 0;
		right: 0;
		border: none;
		border-right: none;

		.left-names{
			float: left;
			width: 100%;
		}
		.power-name{
			font-size: 14px;
			color: #2C1D21;
			margin-bottom: 0;
			font-weight: 600;
			float: left;
			text-align: left;
		}
		.main-price{
			font-size: 30px;
			color: #333333;
			float: right;
			margin-bottom: 0;
			text-align: right;
			font-weight: normal;
		}
		.etxt {
			font-size: 12px;
			color: #525252;
			text-align: left;
			float: left;
			width: 100%;
			margin-top: 7px;
			padding-right: 12px;
		}
	}

	.m-menu-ul .main-bacro-menu{
		height: 353px;
		background: url(../images/bacro-e.png);
	}

	/*===================================emega-menu=====================================*/
/*
 * Off Canvas
 * --------------------------------------------------
 */
 .offcanvas-wrapper {
 	overflow-x: hidden;
 	position: relative;
 }

 @media (max-width: 767px) {
 	/* These styles will only display on viewports smaller than or equal to 770px */
 	.row-offcanvas {
 		position: relative;
 		-webkit-transition: all 0.5s ease-out;
 		-o-transition: all 0.5s ease-out;
 		transition: all 0.5s ease-out;
 	}
 	.sidebar-offcanvas {
 		width: 90% !important;
 		margin: 0;
 		padding: 0px 0;
 	}
 	.sidebar-offcanvas a:after {
 		content: "" !important;
 	}
 	.row-offcanvas-left {
 		left: 0;
 	}
 	.row-offcanvas-left
 	.offcanvas-left {
 		left: -90%;
 	}
 	.row-offcanvas-left.active {
 		left: 90%;
 	}
 	.row-offcanvas-right {
 		right: 0;
 	}
 	.row-offcanvas-right
 	.offcanvas-right {
 		right: -90%;
 	}
 	.row-offcanvas-right.active {
 		right: 90%;
 	}
 	.sidebar-offcanvas {
 		position: absolute;
 		top: 0;
 		width: 90%;
 	}
 }



 .main-menu.sidebar-offcanvas {
 	border-right: solid 1px #BBBBBB;
 	height: 100%;
 	.header{
 		display: inline-block;
 		width: 100%;
 		background-color: #F7F7F7;
 		padding:4px 15px;

 		.left-name{
 			font-size: 18px;
 			color: #212121;
 			font-weight: bold;
 			float: left;
 			margin-bottom: 0;
 			line-height: 1;
 			margin-top: 5px;
 		}
 		.accout-btn{
 			background-color: #425968;
 			width: 88px;
 			height: 30px;
 			text-align: center;
 			border: none;
 			color: #fff;
 			font-size: 14px;
 			float: right;
 		}
 	}
 	.home-items{padding: 15px 15px;}
 	.panel{
 		margin-bottom: 0;
 		background-color: transparent;
 		border: 0;
 		border-radius: 0;
 		-webkit-box-shadow: no-repeat;
 		box-shadow: none;
 		.mb-lavel-1{
 			font-size: 16px;
 			color: #fff;
 			background-color:#425968;
 			padding: 12px 8px;
 			border-bottom: solid 0.5px #fff;
 			display: block;
 		}
 		.mb-lavel-2{
 			font-size: 15px;
 			color: #fff;
 			background-color:#777777;
 			padding: 12px 8px;
 			border-bottom: solid 0.5px #fff;
 			display: block;
 		}
 		.mb-lavel-3{
 			font-size: 15px;
 			color: #fff;
 			background-color:#999999;
 			padding: 12px 8px;
 			border-bottom: solid 0.5px #fff;
 			display: block;
 		}
 		.mb-lavel-4{
 			font-size: 15px;
 			color: #fff;
 			background-color:#BBBBBB;
 			padding: 12px 8px;
 			border-bottom: solid 0.5px #fff;
 			display: block;
 		}
 	}
 	.panel-body {
 		padding: 0;
 	}
 	.panel .mb-lavel-1 span{
 		width: 16px;
 		height: 8px;
 		background: url(../images/aco-1.png) no-repeat;
 		background-position: top;
 		display: inline-block;
 		float: right;
 		margin-top: 7px;
 	}
 	.panel .mb-lavel-1.collapsed span{
 		width: 16px;
 		height: 8px;
 		background: url(../images/aco-1.png) no-repeat;
 		background-position: bottom;
 		display: inline-block;
 		float: right;
 		margin-top: 7px;
 	}
 	 	.panel .mb-lavel-2 span{
 		width: 16px;
 		height: 8px;
 		background: url(../images/mobile-acodin.png) no-repeat;
 		background-position: top;
 		display: inline-block;
 		float: right;
 		margin-top: 7px;
 	}
 	.panel .mb-lavel-2.collapsed span{
 		width: 16px;
 		height: 8px;
 		background: url(../images/mobile-acodin.png) no-repeat;
 		background-position: bottom;
 		display: inline-block;
 		float: right;
 		margin-top: 7px;
 	}
 	 	 	.panel .mb-lavel-3 span{
 		width: 16px;
 		height: 8px;
 		background: url(../images/mobile-acodin.png) no-repeat;
 		background-position: top;
 		display: inline-block;
 		float: right;
 		margin-top: 7px;
 	}
 	.panel .mb-lavel-3.collapsed span{
 		width: 16px;
 		height: 8px;
 		background: url(../images/mobile-acodin.png) no-repeat;
 		background-position: bottom;
 		display: inline-block;
 		float: right;
 		margin-top: 7px;
 	}
 }
.hamberger{
	span{
		width: 20px;
		height: 20px;
		display: inline-block;
		background: url(../images/badnms.png) no-repeat;
		background-position: bottom;
	}
	span.crose{
		width: 20px;
		height: 20px;
		display: inline-block;
		background-position: top;
	}
}
































 @media screen and (max-width: 1200px) {
 	section .main-menu .menu-list ul li {
 		width: 120px;
 	}
 	header .main-header .right-header .ser-line .l-search {
 		margin-left: 0;
 		margin-top: 17px;
 	}
 	header .main-header .right-header .ser-line .r-search .right-r .live {
 		padding-left: 5px;
 	}
 	header .main-header .right-header .ser-line .r-search .right-r .call {
 		padding-left: 5px;
 	}
 	header .main-header .right-header .ser-line .r-search .right-r a {
 		font-size: 16px;
 	}
 	section .main-menu .menu-list ul li a span {
 		vertical-align: sub;
 	}
 	section .main-menu .menu-list ul li a {
 		font-size: 18px;
 	}
 	.left-in-items .color-items li a {
 		font-size: 15px;
 		padding: 10px;
 	}
 	.left-in-items .color-items li a span {
 		font-size: 13px;
 	}
 	.positions {
 		position: inherit;
 	}
 	.nodis{
 		display: none;
 	}
 	.left-in-items .color-items li:last-child {
 		margin-bottom: 0px;
 	}
 	.main-slider-side .slick-prev {
 		left: 5px;
 	}
 	.main-slider-side .slick-next {
 		right: 5px;
 	}
 	.main-slider-side .banner-detail .del {
 		bottom: 30px;
 	}
 	.invation {
 		margin-top: 15px;
 	}
 	footer .footer-tip-top .sub-scrip .input-sub {
 		width: 50%;
 	}
 	.list-product-space {
 		padding: 16px 0;
 	}
 	.list-m-product {
 		padding: 0;
 	}
 	.padij {
 		padding-right: 10px;
 	}
 	.r-psdnig {
 		padding-left: 10px;
 	}
 	.alumini-flm .bgs {
 		font-size: 13px;
 		padding: 6px 9px;
 	}
 	.detail-main-detail .vat ul li {
 		padding-right: 9px;
 	}
 	.detail-main-detail .bye-btn {
 		margin-left: 0;
 	}
 	.detail-main-detail .vat ul li .second-vat {
 		font-size: 23px;
 	}
 	.detail-main-detail .vat ul li .vet-in-price {
 		font-size: 23px;
 	}
 	.detail-main-detail .qty-sec .qty-p {
 		font-size: 14px;
 		margin-top: 20px;
 		margin-right: 3px;
 	}
 	.detail-main-detail .select-sed label {
 		font-size: 14px;
 	}

 	.basket-main-right-div button.proses-che {
 		font-size: 16px;
 	}
 	.left-basket-table .price-ins span {
 		font-size: 11px;
 	}
 	.left-basket-table .price-ins {
 		font-size: 13px;
 	}
 	.left-basket-table .name-product .name-main {
 		font-size: 12px;
 	}
 	.listpays li {
 		width: 47%;
 		a{
 			img{
 				display: inherit;
 			}
 		}
 	}
 	.basket-second-rightd{
 		text-align: center;
 		img{
 			display: inline;
 		}
 	}
 	.blog-one .blog-deails {
 		padding-top: 15px;
 		padding-left: 15px;
 	}
 	.blog-one .blog-deails p.we-lives {
 		font-size: 22px;
 		line-height: 1.2;
 	}
 	.y-local .selectas .select-style {
 		width: 230px;
 	}
 	.y-local .enter-pster input {
 		width: 230px;
 	}
 	.rs-table .table > thead > tr > th {
 		font-size: 14px;
 	}
 	.items-sm-bs .img {
 		margin-right: 6px;
 	}
 	.sign-up-out {
 		background-color: #658194;
 		padding: 16px 15px;
 		margin-top: 25px;
 	}
 	.sign-up-out label {
 		font-size: 14px;
 	}
 	.detail-main-detail ul.bajs li {
 		float: right;
 		padding: 15px 7px;
 		padding-right: 0;
 	}
 	.detail-main-detail .qty-sec .qty-p2 {
 		width: 124px;
 	}
 	.detail-main-detail .qty-sec .qty-p {
 		width: 122px;
 	}
 }

 @media screen and (max-width: 991px) {
 	section .main-menu .menu-list ul li {
 		width: 99px;
 	}
 	section .main-menu .menu-list ul li a {
 		font-size: 16px;
 	}
 	header .main-header .right-header .search input {
 		width: 150px;
 	}
 	header .main-header .right-header .search button {
 		margin-right: 0px;
 	}
 	header .main-header .left-main-header p.gogo-down {
 		font-size: 15px;
 		text-align: center;
 		padding-left: 0;
 	}
 	header .main-header .right-header .ser-line .r-search .right-r a {
 		font-size: 14px;
 	}
 	header .cart .two {
 		width: 45px;
 		height: 44px;
 		background-size: 70%;
 	}
 	header .cart .one {
 		margin-top: 20px;
 		width: 23px;
 	}
 	section .main-menu .menu-list ul li a span {
 		vertical-align: text-top;
 	}
 	section .benifit .benifit-b a {
 		font-size: 13px;
 	}
 	.main-slider-side .banner-detail .del {
 		bottom: 0;
 		margin-bottom: 9px;
 	}
 	.main-slider-side .slick-prev {
 		bottom: 0;
 	}
 	.main-slider-side .slick-next {
 		bottom: 0;
 	}
 	.left-in-items .color-items li a span {
 		font-size: 11px;
 	}
 	section .eco .eco-absolute p.peras {
 		font-size: 12px;
 	}
 	section .eco .eco-absolute p.eco-f {
 		font-size: 20px;
 	}
 	section .eco .eco-absolute {
 		bottom: 17px;
 	}
 	.cal-b-right .absolute-2 {
 		right: 6%;
 		top: 19%;
 	}
 	.invation .absolute-3 {
 		top: 20%;
 		left: 4%;
 	}
 	.invation {
 		margin-top: 10px;
 	}
 	section .terra {
 		background-position: 30%;
 	}
 	footer .footer-tip-top .sub-scrip .input-sub {
 		width: 65%;
 	}
 	.footer-link-section .footer-r-last .tp {
 		font-size: 13px;
 	}
 	.footer-link-section .footer-r-last .emal {
 		font-size: 12px;
 	}
 	.center-footer .right-shoshal-last ul li {
 		padding-left: 3px;
 	}
 	.shop-by-size .list-size li .sizes-div {
 		width: 58px;
 	}
 	.shop-by-size .list-size li {
 		width: 79px;
 	}
 	.left-nems {
 		padding-right: 0;
 	}
 	section .now-sshoping {
 		padding: 18px 8px;
 	}
 	section .now-sshoping p.hd {
 		font-size: 16px;
 	}
 	section .now-sshoping .lb-for-machin p.pera {
 		font-size: 14px;
 	}
 	.main-items-list .radioos label {
 		font-size: 14px;
 	}
 	.hover-view a {
 		padding: 8px 2px;
 	}
 	.paddind-dv:hover .hover-view a {
 		padding: 8px 2px;
 	}
 	.pera-left {
 		margin-top: 40px;
 	}
 	.right-lab-con .pera-left .big-list-pera {
 		margin-bottom: 6px;
 	}
 	.detail-main-detail .right-pilips {
 		float: right;
 	}
 	.detail-tabs .nav > li > a {
 		padding: 7px 11px;
 	}
 	.detail-sliders {
 		margin-bottom: 45px;
 	}
 	.detail-main-detail {
 		padding-left: 0;
 	}

 	.big-mobile-items{
 		img{
 			width: 100%;
 		}
 	}
 	.basket-main-right-div {
 		margin-top: 22px;
 	}
 	.delivry-notis {
 		margin-bottom: 45px;
 	}
 	.blogs-main-r-items {
 		margin-left: 0;
 	}
 	.blog-one .blog-deails p.we-lives {
 		font-size: 14px;
 		line-height: 1;
 	}
 	.blog-one .blog-deails p.second-hd {
 		font-size: 13px;
 		margin-top: 5px;
 	}
 	.blog-one .blog-deails p.it-has {
 		font-size: 13px;
 		line-height: 1.2;
 	}
 	.blog-one .blog-deails a.re-mores {
 		font-size: 14px;
 		padding: 3px 25px;
 		margin-top: 1px;
 	}
 	.y-local .enter-pster input {
 		width: 140px;
 	}
 	.y-local {
 		padding: 16px;
 	}
 	.rs-table .table > thead > tr > th {
 		white-space: pre;
 	}
 	.ch-two {
 		padding-left: 0;
 	}
 	.ch-two .biling-or {
 		font-size: 17px;
 	}
 	.check-right-order-summer .hd-sh .hd {
 		font-size: 25px;

 	}
 	.items-sm-bs .details .name {
 		font-size: 12px;
 	}
 	.sku-last .rs-table .table > tbody > tr > td:last-child{
 		width: 16%;
 	}
 	.qu-search .enter-div input.sku-enter {
 		width: 175px;
 		margin-right: 10px;
 	}
 	.qu-search .enter-div input.qty-input {
 		margin-right: 15px;
 	}
 	.qu-search .enter-div button.add-basket {
 		width: 124px;
 	}
 	.qu-search .enter-div button.add-wish {
 		margin-right: 5px;
 	}
 	.table-range .table tbody tr td .add-baskets-range .add-basket-btn {
 		font-size: 13px;
 		width: 119px;
 	}
 	.table-range .table tbody tr td {
 		padding: 17px 4px;
 	}
 	.table-range .table tbody tr td .add-baskets-range .quites-mes{
 		font-size: 13px;
 		width: 119px;
 	}
 	.table-range .table tbody tr td .price-ranges p.prs {
 		font-size: 14px;
 	}
 	.table-range .table tbody tr td .price-ranges p.prs span {
 		font-size: 11px;
 		margin-left: 2px;
 	}
 	.table-range .table tbody tr td .range-p-details p.name {
 		font-size: 12px;
 	}
 	.table-range .table tbody tr td .range-p-details p.text {
 		font-size: 10px;
 	}
 }
 @media screen and (max-width: 767px) {
 	header .main-header .left-main-header {
 		text-align: center;
 		img{
 			display: inherit;
 		}
 	}
 	header .main-header .right-header .ser-line .l-search {
 		width: 100%;
 	}
 	header .main-header .right-header .search input {
 		width: 100%;
 		padding-left: 6px;
 	}
 	header .main-header .right-header .search button {
 		width: 18px;
 	}
 	.search {
 		position: relative;
 	}
 	header .main-header .right-header .search button {
 		width: 18px;
 		position: absolute;
 		right: 5px;
 	}
 	header .main-header .right-header .ser-line {
 		margin-top: 0;
 	}
 	header .cart {
 		float: right;
 		position: absolute;
 		right: 0;
 		top: 0;
 	}
 	.mobile-position{
 		position: static;
 	}
 	header .main-header .right-header .ser-line .r-search {
 		width: 100%;
 	}
 	header .main-header .right-header .ser-line .r-search .right-r .call {
 		float: right;
 	}
 	header .main-header .right-header .ser-line .r-search .right-r a {
 		font-size: 17px;
 	}
 	.right-r {
 		margin-bottom: 12px;
 	}
 	.mobile-top-slider{
 		.slick-slide img {
 			display: inherit;
 		}
 	}
 	.pd-line {
 		background-color: #fff;
 	}
 	.left-in-items {
 		padding: 20px 10px;
 		background-color: #F6F6F6;
 	}
 	.left-in-items {
 		margin-bottom: 15px;
 	}
 	.main-slider-side .slick-prev {
 		bottom: 90px;
 	}
 	.main-slider-side .slick-next {
 		bottom: 90px;
 	}
 	.main-slider-side .banner-detail .del {
 		bottom: 0;
 		margin-bottom: 20px;
 		text-align: center;
 	}
 	.main-slider-side .banner-detail .del .name-lab span {
 		font-size: 21px;
 	}
 	.main-slider-side .banner-detail .del .name-lab {
 		font-size: 21px;
 	}
 	.main-slider-side .banner-detail .del .de-banner {
 		font-size: 13px;
 	}
 	.main-slider-side .banner-detail .del {
 		left: 0;
 		right: 0;
 	}
 	.main-slider-side .banner-detail {
 		padding-bottom: 120px;
 	}
 	section .eco {
 		margin-top: 17px;
 	}
 	.cal-b-right .absolute-2 {
 		right: 0;
 		top: auto;
 		text-align: center;
 		right: 0;
 		left: 0;
 		bottom: 20px;
 	}
 	.cal-b-right {
 		margin-top: 16px;
 	}
 	.home-down {
 		margin-top: 75px;
 	}
 	footer .footer-tip-top .sub-scrip .hd-sub {
 		margin-bottom: 15px;
 		text-align: center;
 	}
 	footer .footer-tip-top .sub-scrip .input-sub {
 		width: 100%;
 	}
 	.footer-link-section {
 		text-align: center;
 	}
 	.camb{
 		text-align: center;
 		img{
 			display: inherit;
 		}
 	}
 	.footer-link-section .footer-r-last .tp {
 		font-size: 16px;
 		margin-top: 5px;
 	}
 	.footer-link-section .footer-r-last .emal {
 		font-size: 16px;
 	}
 	.center-footer {
 		text-align: center;
 	}
 	.logo-snter {
 		margin-bottom: 30px;
 		margin-top: 10px;
 	}
 	.center-footer .logo-snter2 {
 		margin-left: 0;
 		margin-bottom: 30px;
 	}
 	.center-footer .right-shoshal-last ul li {
 		padding: 0 12px;
 	}
 	.center-footer .right-shoshal-last ul {
 		margin-top: 35px;
 		margin-bottom: 10px;
 		text-align: center;
 	}
 	.all-last .development {
 		text-align: center;
 	}
 	.all-last .coppy {
 		text-align: center;
 	}
 	.calibrtion{
 		img{
 			width: 100%;
 		}
 	}


 	.sidenav {
 		height: 100%; 
 		width: 0; 
 		position: absolute;
 		z-index: 1; 
 		top: 0;
 		left: 0;
 		overflow-x: hidden;
 		padding:none;
 		transition: 0.5s;
 		padding-right: 0;
 		padding-left: 0; 
 	}
 	.left-nems {
 		padding: 12px;
 	}

 	.sidenav a {
 		transition: 0.3s
 	}



 	#mySidenav .closebtn {
 		position: absolute;
 		top: 12px;
 		right: 11px;
 		font-size: 18px;
 	}

 	#main {
 		transition: margin-left .5s;
 		width: 100%;
 		margin: 0;
 		padding-top: 17px;
 	}
 	.relativwe-se{
 		position: relative;
 		overflow: hidden;
 	}
 	.padding-rong{
 		padding: 0;
 	}
 	.mobile-list{
 		.hd{
 			font-size: 16px;
 			color: #405966;
 			font-weight: bold;
 			border-bottom: solid 1px #ddd;
 			margin-top: 40px;
 			padding-bottom: 12px;
 			margin-bottom: 17px;
 		}
 	}
 	button.shop-by-mobile {
 		width: 100%;
 		font-size: 16px;
 		color: #EDEDED;
 		background-color: #425968;
 		border: none;
 		height: 45px;
 		margin-bottom: 30px;
 	}
 	.short-by .shor-ps {
 		font-size: 15px;
 		margin-top: 0;
 		margin-right: 7px;
 		line-height: 1;
 		margin-bottom: 4px;
 	}
 	section .list-filtser button.clear-btn {
 		float: none;
 	}
 	section .list-filtser .hd {
 		margin-right: 15px;
 	}
 	.left-nems{
 		position: relative;
 	}
 	.short-by .select-style{
 		width: 100%;
 	}
 	.short-by {
 		float: none;
 	}
 	#main {
 		padding-top: 0;
 	}
 	button.shop-by-mobile {
 		margin-bottom: 0;
 	}
 	.shop-by-mobile:focus{
 		background-color:  #333333;
 	}
 	.mobile-list-end img {
 		width: 100%;
 	}
 	.mobile-list-end {
 		margin-top: 35px;
 		margin-bottom: 45px;
 	}
 	section.relativwe-se {
 		margin-top: 25px;
 	}
 	.alumini-flm .bgs {
 		font-size: 23px;
 		padding: 13px 32px;
 		top: 49%;
 	}
 	.catery-images {
 		padding: 0 35px;
 	}
 	.right-lab-con .pera-left .lab-p {
 		font-size: 20px;
 	}
 	.feit-mobile {
 		font-size: 18px;
 		color: #415967;
 		text-align: center;
 		font-weight: bold;
 		margin-bottom: 16px;
 		margin-top: 40px;
 	}
 	.detail-main-detail .vat ul li {
 		float: none;
 		text-align: center;
 		display: inline-table;
 	}
 	.detail-main-detail .vat ul {
 		text-align: center;
 	}
 	.detail-main-detail .in-stook {
 		float: none;
 	}
 	.detail-main-detail {
 		text-align: center;
 	}
 	button.pilips-center {
 		margin-top: 24px;
 		width: 100%;
 		height: 68px;
 		background-color: #F6F6F6;
 		border: solid 1px #A1ACB4;
 	}
 	.detail-main-detail .bye-btn {
 		padding: 2px 6px;
 	}
 	.detail-main-detail .bye-btn .left-hd span {
 		vertical-align: inherit;
 	}
 	.detail-main-detail button.add-cart {
 		width: 100%;
 		margin-top: 30px;
 	}
 	.qty-sec {
 		margin-top: 20px;
 	}
 	.detail-main-detail .qute-me {
 		margin-top: 25px;
 	}
 	.detail-main-detail .qty-sec .qty-p {
 		font-size: 15px;
 		margin-top: 20px;
 		margin-right: 60px;
 		padding-left: 20px;
 	}
 	.detail-main-detail ul.bajs li {
 		padding: 18px 0;
 		width: 30%;
 		text-align: center;
 		float: none;
 		display: inline-block;
 		a{
 			img{
 				display: initial;
 			}
 		}
 	}
 	.detail-main-detail ul.bajs {
 		text-align: center;
 	}
 	.detail-main-detail .qute-me a {
 		margin-left: 6px;
 		border: solid 1px #5C6F7C;
 		padding: 11px 24px;
 	}
 	.detail-main-detail .qute-me {
 		margin-bottom: 27px;
 	}
 	.detail-main-detail .vat {
 		border-bottom: solid 1px #DDDDDD;
 		padding-bottom: 23px;
 	}
 	.detail-main-detail .vat {
 		margin-top: 13px;
 	}
 	.detail-main-detail .second-name {
 		text-align: left;
 	}
 	.detail-main-detail .second-name span {
 		float: right;
 	}
 	.detail-tabs{
 		.fade {
 			opacity: 1;
 		}
 		.tab-content>.active {
 			display: none;
 		}
 	}
 	.detail-tabs .tab-content {
 		border: none;
 		margin-top: 0;
 		padding: 0;
 	}
 	.mobile-de-acodination{
 		width: 100%;
 		text-align: left;
 		height: 44px;
 		border: none;
 		border-top: solid 1px #999999;
 		border-bottom: solid 1px #999999;
 		background-color: transparent;
 		margin-top: -1px;
 	}
 	.detail-tabs {
 		margin-top: 10px;
 	}
 	.detail-tabs{
 		button.menu-accord { 
 			background: transparent;
 			color: #333333;
 			cursor: pointer;
 			padding: 10px 15px;
 			width: 100%;
 			height: 50px;
 			text-align: left;
 			outline: none;
 			border: 1px solid #c2c2c2;
 			border-left: 0;
 			border-right: 0;
 			transition: 0.6s;
 			font-size: 18px;
 		}
 		button.menu-accord.active, button.menu-accord:hover { background: transparent; }


 		button.menu-accord > span { 
 			width: 18px; 
 			height: 9px; 
 			background: url(../images/acodin-detail-lis.png) no-repeat; 
 			display: inline-block; 
 			float: right; 
 			margin-top: 8px; 
 			transition: 0.6s; 
 		}
 		button.menu-accord > span.sign-plus { background-position: bottom; }
 		button.menu-accord > span.sign-minus { background-position: top; }
 		.tab-pane {
 			padding: 10px;
 		}
 	}
 	.feued .featured {
 		text-align: left;
 		margin-top: 40px;
 		margin-bottom: 5px;
 		font-size: 17px;
 		margin-bottom: 22px;
 	}
 	p.featured-check {
 		padding: 0;
 		font-size: 14px;
 		margin-bottom: 31px;
 		margin-top: -23px;

 	}
 	.feued.last-detail-sl {
 		margin-bottom: 0;
 	}
 	.detail-sliders{
 		.slick-dots{
 			bottom: -20px;
 			li{
 				width: 8px;
 				height: 20px;
 				border: none;
 				border-left: solid 1px #000;
 				border-right: solid 1px #000;
 				background-color: #000;
 				button{
 					width: 0;
 					height: 0;
 				}
 			}
 			li.slick-active{
 				background-color: #968900;
 				border-left: solid 1px #CAC47F;
 				border-right: solid 1px #CAC47F;
 			}

 		}
 		.slick-dots li button:before {
 			font-family: 'slick';
 			font-size: 6px;
 			line-height: 20px;
 			position: absolute;
 			top: 0;
 			left: 0;
 			content:initial;
 			text-align: center;
 			opacity: 1;
 			color: transparent;
 			-webkit-font-smoothing: antialiased;
 			-moz-osx-font-smoothing: grayscale;
 		}
 	}


 	header .main-header .left-main-header {
 		margin-top: 50px;
 	}
 	header .cart .two {
 		width: 50px;
 		height: 23px;
 		background-size: 56%;
 	}
 	header .cart .two p.items {
 		width: 18px;
 		height: 19px;
 		text-align: center;
 		background-color: #222222;
 		margin-bottom: 0;
 		color: #fff;
 		float: right;
 		margin-top: 4px;
 		margin-right: 0;
 	}
 	header .cart .one {
 		margin-top: 2px;
 		width: 21px;
 		float: right;
 	}
 	header .cart .one {

 		margin-right: 7px;
 	}
 	header .cart {
 		float: right;
 		position: absolute;
 		right: 0;
 		top: 0;
 		left: 0;
 		background-color: #F7F7F7;
 		padding: 4px 10px;
 		padding-bottom: 6px;
 	}
 	.hamberger{
 		float: left;
 		margin-top: 3px;
 	}

 	p.basket-main-hd {
 		font-size: 22px;
 		color: #415967;
 		font-weight: bold;
 		margin-bottom: 0;
 		margin-top: 40px;
 	}
 	.uptade-btn button.basket-up-btn {
 		width: 100%;
 		height: 50px;
 		font-size: 20px;
 	}
 	.uptade-btn {
 		margin-top: 25px;
 	}
 	.delivry-notis .enter-here {
 		margin-bottom: 45px;
 	}
 	.delivry-notis {
 		width: 100%;
 		margin-top: 20px;
 	}
 	.delivry-notis .enter-here button.apply-discer {
 		width: 100px;
 	}
 	.delivry-notis .enter-here input.input-app-left {
 		padding-right: 100px;
 	}
 	.mobile-basket{
 		.baskey-product{
 			.left-img-mb{
 				float: left;
 				margin-right: 12px;
 			}
 		}
 		.ueh {
 			display: block;
 			float: left;
 			width: 100%;
 			margin-top: 30px;
 			text-align: center;
 			.ksjm{
 				font-size: 15px;
 				float: left;
 				margin-top: 2px;
 				margin-right: 60px;
 				margin-bottom: 0;
 				margin-left: 15px;
 			}
 		}
 		p.subs-moibiles {
 			display: block;
 			float: left;
 			width: 100%;
 			font-size: 16px;
 			color: #333333;
 			margin-bottom: 0;
 			font-weight: bold;
 			margin-top: 20px;
 			span{
 				color: #777777;
 				margin-left: 15px;
 			}
 		}
 	}
 	.mobile-basket{
 		float: left;
 		width: 100%;
 		position: relative;
 		border-top: solid 1px #BBBBBB;
 		border-bottom: solid 1px #BBBBBB;
 		padding-top: 20px;
 		padding-bottom: 15px;
 		margin-top: 40px;

 	}
 	.left-basket-table .name-product .name-main {
 		font-size: 15px;
 	}
 	.basket-close{
 		position: absolute;right: 12px;bottom: 20px;
 	}
 	.right-banner{
 		img{
 			width: 100%;
 		}
 	}
 	.blog-one .blog-deails p.we-lives {
 		font-size: 16px;
 		text-align: left;
 		line-height: 1.2;
 	}
 	.blog-one .blog-deails p.second-hd {
 		font-size: 14px;
 		text-align: left;
 	}
 	.blog-one .blog-deails p.it-has {
 		line-height: 1.5;
 		text-align: left;
 	}
 	.blog-one .blog-deails a.re-mores {
 		font-size: 14px;
 		padding: 10px 40px;
 		margin-top: 5px;
 		margin-bottom: 0px;
 	}
 	.blog-one .blog-deails {
 		padding: 15px;
 		text-align: center;
 	}
 	.blog-one {
 		margin-top: 30px;
 	}
 	.lastg {
 		margin-top: 0;
 		margin-bottom: 40px;
 	}
 	p.hd-mobile-about{
 		font-size: 16px;
 		color: #405966;
 		font-weight: bold;
 		margin-top: 30px;
 		margin-bottom: 20px;
 	}
 	.img-about-big {
 		margin-bottom: 17px;
 	}
 	.aboyt-ones {
 		padding-right: 0;
 	}
 	.about-last {
 		margin-top: 10px;
 		margin-bottom: 30px;
 	}
 	.img-about-big{
 		img{
 			width: 100%;
 		}
 	}
 	.aboyt-ones {
 		margin-top: 20px;
 	}
 	.y-local {
 		padding: 35px 16px;
 	}
 	.y-local .selectas .select-style {
 		width: 100%;
 		margin-bottom: 20px;
 	}
 	.y-local .enter-pster input {
 		width: 100%;
 		margin-bottom: 20px;
 	}
 	.y-local .search {
 		width: 100%;
 		height: 47px;
 		font-size: 14px;
 		margin-left: 0;
 	}
 	.table-responsive>.table {
 		text-align: center;
 	}
 	.rs-table .table > tbody > tr > td {
 		padding: 5px 15px;
 		font-size: 13px;
 		border-bottom: none;
 		display: inline-block;
 		text-align: center;
 		width: 100%;
 		color: #777777;
 	}
 	.product-categry {
 		display: inline-block !important;
 		font-size: 13px;
 		color: #333333;
 		font-weight: bold;
 		margin-bottom: 0;
 	}
 	.rs-table .table > tbody > tr {
 		border-bottom: solid 1px #ddd;
 	}
 	.rs-table{
 		table{
 			tr{
 				td:nth-child(2){
 					display: inline-block !important;
 				}
 			}
 		}
 	}
 	.rs-table .table > tbody > tr > td:first-child{
 		padding-top: 20px;
 		font-size: 16px;
 		color: #777777;
 		font-weight: bold;
 	}
 	.rs-table .table > tbody > tr > td:last-child{
 		padding-bottom: 20px;
 	}
 	.rs-table{
 		border-bottom: none;
 	}
 	.sign-in-bacro {
 		background-color: #F7F7F7;
 		text-align: right;
 	}
 	p.sign-ins {
 		color: #212121;
 		padding: 5px 10px;
 	}
 	.img-about-banner{
 		float: none;
 		img{
 			width: 100%;
 		}
 	}
 	.about-rights{
 		.hd{
 			font-size: 16px;
 			color: #405966;
 			font-weight: bold;
 			margin-top: 45px;
 			margin-bottom: 16px;
 		}
 	}
 	.expresss p.hd {
 		font-size: 16px;
 		color: #3F5966;
 		font-weight: bold;
 		line-height: 1;
 		margin-top: 45px;
 		margin-bottom: 15px;
 	}
 	.qu-search .enter-div input.sku-enter {
 		width: 100%;
 		margin-right: 0;
 		margin-bottom: 20px;
 	}
 	.qu-search .enter-div button.add-wish {
 		width: 100%;
 		margin-right: 0;
 		margin-bottom:15px;
 		margin-top: 20px;
 		height: 47px;
 	}
 	.qu-search .enter-div button.add-basket {
 		width: 100%;
 		height: 47px;
 	}
 	.qu-search {
 		padding: 22px 10px;
 		margin-top: 4px;
 		padding-bottom: 32px;
 		padding-top: 26px;
 	}
 	a.basket-imges {
 		float: none;
 	}
 	.sku-last table tr td:nth-child(2) {
 		font-size: 16px;
 		color: #777777;
 		font-weight: bold;
 		line-height: 1;
 	}

 	.sku-last .table > tbody > tr > td:first-child {
 		font-weight: normal;
 		line-height: 1;
 		span{
 			display: inherit !important;
 		}
 	}
 	.sku-last table tr td:nth-child(4) {
 		span{
 			display: inherit !important;
 			font-size: 13px;
 			color: #333333;
 			font-weight: bold;
 		}
 	}
 	.rs-table .table {
 		border: 1px solid #ddd;
 	}
 	.rs-table{
 		border: none;
 	}
 	.sku-last {
 		text-align: center;
 	}
 	.rs-table .add-all-bas {
 		width: 97%;
 		height: 47px;
 		border: none;
 		float: none;
 		margin-top: 5px;
 	}
 	.detail-main-detail .qty-sec .qty-p2 {
 		text-align: left;
 	}
 	.detail-main-detail .qty-sec .qty-p {
 		margin-right: 0px;
 		padding-left: 0px;
 		text-align: left;
 	}
 	.detail-main-detail .qty-sec2 {
 		margin-top: 28px;
 		margin-bottom: 0;
 	}
 	.detail-main-detail ul.bajs-2 {
 		margin-top: 0;
 	}
 	.detail-main-detail .qty-sec3 {
 		margin-bottom: 0;
 	}
 	.detail-main-detail .qty-sec2 {
 		margin-top: 20px;
 	}
 	.qty-sec {
 		margin-top: 10px;
 		padding-left: 12px;
 	}
 	.table-range .table tbody tr td {
 		display: block;
 		white-space: inherit;
 	}

 	.in-sh {
 		margin-top: 8px;
 		p.in-chick {
 			font-size: 12px;
 			color: #fff;
 			background-color: #968900;
 			padding: 3px 6px;
 			display: initial;
 		}
 	}
 	.detail-main-detail button.add-cart {
 		margin-top: 20px;
 	}
 	.mobile-detail-range{
 		.left-range-img{
 			float: left;
 			margin-right: 15px;
 		}
 		.feit-elect{
 			display: inline-block;
 			margin-top: 4px;
 			.feit-ps{
 				font-size: 14px;
 				color: #333333;
 				margin-bottom: 0;
 			}
 			.feit-ps2{
 				font-size: 12px;
 				margin-bottom: 0;
 				color: #777777;
 			}
 			.price{
 				font-size: 16px;
 				color: #333333;
 				margin-bottom: 0;
 				span{
 					font-size: 13px;
 					color: #968800;
 				}
 			}
 		}
 	}
 	.items-review-one {
 		padding-top: 20px;
 		border-bottom: solid 1px #ccc;
 	}
 	.product-pos{
 		font-size: 16px;
 		color: #415967;
 		font-weight: bold;
 		border-bottom: solid 1px #BBBBBB;
 		padding-bottom: 30px;
 		padding-top: 30px;
 	}
 }


 @media screen and (max-width: 480px) {

 	.alumini-flm .bgs {
 		font-size: 15px;
 		padding: 6px 13px;
 		top: 49%;
 	}
 	.detail-main-detail .bye-btn .left-hd {
 		font-size: 15px;
 		padding: 17px 12px;
 		width: 49px;
 	}
 	.detail-main-detail .for-price .price-for {
 		font-size: 12px;
 		margin-bottom: 0px;
 		letter-spacing: 0.2px;
 		margin-top: 0px;
 	}
 	button.pilips-center {
 		height: 55px;
 	}
 }